---
title: Norstone FAQ
meta:
  title: Norstone FAQ | Natural Stone Products
  description: Got a Question? Norstone is here to help. Norstone always encourages
    you to call us for any question that you may have about your project, but we also
    find that we get a lot of common questions that we thought we might be able to
    answer here.
permalink: "/faq/"
faqs:
- title: Pricing &amp; Availability
  questions:
  - q: Where can I buy Norstone products?
    a: Please email us via our contact page to be put in touch with your nearest distributor
      or in the event no distributor has been identified for your area, someone from
      Norstone will contact you directly on how to purchase.
  - q: How much do Norstone products cost?
    a: Normal retail pricing falls between $14 and $16 per sq ft for our Rock Panel
      lines and $18 per sq ft for the Basalt IL tiles, often with sizeable discounts
      for larger orders.  Contact Norstone for your nearest distributor to receive
      a quote on your project today.
  - q: How does the cost of Rock Panels compare to a typical stacked stone veneer
      wall?
    a: Since there is far less labor involved in installing Rock Panels as compared
      to hand stacking individual stones, the installed cost of Rock Panels can be
      as little as half or one third of the cost to build a typical stacked stone
      veneer wall.
  - q: How does the cost of Rock Panels compare to imitation stone panels or tiles?
    a: Norstone natural stone Rock Panels are very competitive compared to imitation
      stone panels, however offer the obvious benefit of a natural product versus
      a faux or manmade product.
  - q: What is the lead time for Norstone products?
    a: Norstone and its Distributors strive to keep plenty of on hand inventory to
      meet our customer&rsquo;s needs.  Customers are encouraged to email us via our
      contact page or ask their local distributor to check stock before placing an
      order.
- title: Installing Norstone Products
  questions:
  - q: How do I calculate the quantity I need?
    a: Measure each area to receive Norstone products and allow 10% extra for wastage.  If
      outside corners are present in the project, measure the height of all the outside
      corners and contact your Norstone representative or local distributor to make
      sure you order the right mix of field units and corner units for your project.
  - q: How are Norstone products laid?
    a: Norstone products should be laid in a continuous running bond pattern, ensuring
      vertical seams do not line up from one course to the other.
  - q: What adhesive does Norstone recommend?
    a: We recommend a polymer modified tile thinset that meets or exceeds ANSI 118.4
      and ANSI 118.11 adhesion standards.
  - q: How are Norstone products cut?
    a: Norstone products are ideally cut on a tile wet saw with a continuous diamond
      rimmed blade.  In the event a tile saw cannot perform the necessary cut, such
      as a curve, a hand held angle grinder can be used to cut the stone as well.
  - q: Are Norstone products easy to install?
    a: Most competent home handymen can install Norstone products, particularly those
      with experience tiling.  In fact both Rock Panels and Basalt IL tiles have been
      featured on the DIY Network because they are easy to use and great looking.  If
      a professional is to be hired to do the work, a tile setter is the ideal tradesperson.
  - q: Do Norstone products require mechanical fixing?
    a: Mechanical fixing might be necessary when your installation reaches a certain
      height, sometimes as low as 10&rsquo;, depending on the structural  engineering
      of the wall the stone is being installed on.  Please consult your architect
      or engineer and check local building codes for specific requirements.
  - q: Do Norstone products need sealing?
    a: Sealers might be a good option for Rock Panel installations depending on the
      nature of the installation, for example a kitchen backsplash, walk in shower,
      or exterior water feature.  Consult your Norstone representative or local distributor
      to determine if sealing might be a good option for your project.<br><br>All
      Basalt IL tile installations should be sealed to preserve the look and feel
      of this honed and polished stone.<br><br>Sealers may also be used on any stone
      installation if a color enhanced look or different sheen is desired for the
      application.  Always use a penetrating water based sealer according to the manufacturer&rsquo;s
      application instructions and test the sealer out on a scrap piece of stone before
      applying to the application.
  - q: Are Norstone products easy to maintain?
    a: Yes! Natural stone is robust, easy to keep clean and does not fracture, deteriorate
      or lose color over time.  The only maintenance on Norstone products should involve
      cleaning off surface contaminants (dust, dirt, etc) using water, a mild detergent
      if necessary, and a stiff bristle brush.<br><br> If sealed, the stone should
      continue to be resealed per the sealer manufacturer&rsquo;s recommended timeline.
- title: Rock Panels
  questions:
  - q: What are Norstone Rock Panels?
    a: Norstone Rock Panels are a 6&rdquo; tall x 24&rdquo; long panel that is made
      up of individual pieces of natural stone, that have been fit and glued together
      to create a modular system that is easy to install, and creates the beautiful
      look of stacked stone veneer without the labor of hand stacking individual stones.
  - q: What is the difference between Rock Panels and XL Rock Panels?
    a: XL Rock Panels are a super sized version of the standard series Rock Panel
      with stone sizes approximately twice as big as the standard series and a unique
      interlocking edge profile designed to create a seam free look with the larger
      XL format.  XL Rock Panels are ideal for large scale projects, both interior
      and exterior, where a larger size stone might better fit the scale of the project.
  - q: What size do Rock Panels come in?
    a: Each Rock Panel is 6&rdquo; tall and 24&rdquo; wide.  XL Rock Panels have an
      interlocking design to complement the larger sized stones in this product, whereas
      standard series Rock Panels work best when simply butt together on both the
      horizontal and vertical.
  - q: How much do Rock Panels weigh?
    a: Each Rock Panel weighs on average about 12.5 lbs per sq ft.
  - q: Are Corner Units available?
    a: Outside Corner Units are available for both standard and XL Rock Panels.  Each
      corner unit is 6&rdquo; tall to match up with the field units and returns approximately
      8&rdquo; on one side of the corner and 16&rdquo; on the other.  We recommend
      consulting your Norstone representative or local distributor to ensure your
      project has the correct mix of field and corner units.<br><br>Inside Corners
      are handled by either using a standard inside corner miter cut, or butting panels
      together and filling the joint with either mortar or caulk.
  - q: How do Rock Panels come packaged?
    a: There are 4 Rock Panels per box, equal to 4 square feet per box, 48 boxes per
      crate or 192 square feet per crate.
  - q: How many colors are available?
    a: 'Norstone offers four colors in standard series Rock Panels: Ochre, Charcoal,
      Ivory, and White.<br><br>XL Rock Panels are offered in Ochre and Charcoal.'
  - q: Are Rock Panels made from natural stone?
    a: Norstone only produces and supplies natural stone products including pure Quartz
      and quartzitic sedimentary stone for Rock Panels.
  - q: What holds Rock Panels together?
    a: Our Rock Panels are hand made from select pieces of cut premium natural stone,
      which are then adhered together using a high quality 2-part epoxy adhesive.
  - q: Is each Rock Panel different?
    a: Yes, like a finger print, each panel is unique in design, color blend and texture.
  - q: How do Norstone Rock Panels compare to other stone veneers?
    a: Using only the highest grade natural stone stock and epoxy adhesive materials,
      Norstone Rock Panels differentiate themselves with durability and design as
      the primary focus, and stand apart with a unique offering of colors other stone
      veneers cannot duplicate.
  - q: Are the backs of Rock Panels clean or fixed to some other material?
    a: Rock Panels are clean, free of dust, dirt, adhesive residue or any foreign
      material on the back to allow maximum adhesion of the stone with the wall surface.
  - q: Why are Norstone Rock Panels superior to imitation or faux stone panels?
    a: Norstone Rock Panels do not lose their color, texture or degrade due to age
      or exposure to weather, and since they are made from natural stone, they have
      an inherent advantage in &ldquo;believability&rdquo; as compared to an imitation
      or faux stone product.
  - q: Are Rock Panels held together with a mesh backing?
    a: No, Rock Panels do not use a mesh backing as it can seriously undermine the
      adhesive bond between the wall and the back of the Rock Panel given the weight
      of the product.
  - q: Are Rock Panels adhered together with polymer glues?
    a: No, we only use a 2 part epoxy adhesive in manufacturing Rock Panels for maximum
      strength and endurance.
  - q: Will the color of the stone fade?
    a: No, actually the color of the natural stone used in our Rock Panels will usually
      be enhanced with time.
  - q: Can Rock Panels be used in wet areas?
    a: Yes, Rock Panels can be used in or near swimming pools, water features, near
      beachfronts or salt spray.  Consult your Norstone rep or local Norstone distributor
      to determine if any additional precaution, namely the application of a quality
      stone sealer, is recommended for your wet installation.
  - q: Can Rock Panels be used for paving?
    a: No, Rock Panels should only be used for wall veneer applications.
  - q: Do Rock Panels stain?
    a: Natural stone may be adversely affected by cleaning with acid wash or the use
      of incorrect tile adhesive, so please only use detergent cleaners to wash or
      clean the stone before, during, and after installation, along with the correct
      setting materials as listed out in our installation guide.
  - q: Are Rock Panels affected by cold weather?
    a: Norstone Rock Panels can be used in subzero or freeze/thaw conditions with
      no adverse effect if installed correctly and over a properly prepared substrate.  Please
      refer to our <a href="/how-to-install-stacked-stone">installation guide</a>
      for substrate diagrams for your installation.
  - q: Are Rock Panels affected by heat?
    a: Norstone Rock Panels can be used for wall cladding in extreme climates, such
      as 40 to 50 degrees Celsius or 104 to 122 Fahrenheit.  A common application
      for Rock Panels is fireplace veneer, however, Rock Panels should only be installed
      on the outward facing areas of a fireplace, and never exposed to a direct flame.
- title: Basalt IL Tiles
  questions:
  - q: What are Norstone Basalt IL Tiles?
    a: Norstone Basalt IL Tiles are a mat mounted modern wall tile product made from
      strips of Basalt stone that are offset, allowing one tile set to interlock with
      other tile sets, creating a modern and linear look with an incredibly smooth
      texture.
  - q: What size are Basalt IL Tiles?
    a: 'Basalt IL Tiles consist of 9 strips of Basalt, each 12&rdquo; long and coming
      in one of three heights: 1&rdquo;, 1.4&rdquo; and 2.4&rdquo;. Each tile unit
      covers 1.3 sq ft.'
  - q: How are corners addressed?
    a: Outside corners are handled either with an aftermarket corner trim piece which
      forms a functional and attractive finish for which the Basalt IL Tile can be
      butt up against, or a second option is to use strips of Basalt, cut from the
      tile units, in matching lengths and widths, and installing them parallel to
      and on both sides of the outside corner to form a border from which tile units
      can be cut and laid against.<br><br>Inside Corners are best handled by cutting
      the Basalt IL Tiles so that they butt join neatly with a small grout gap where
      they meet on the internal corner.
  - q: How much do Basalt IL Tiles weigh?
    a: Each Basalt IL Tile weighs about 7 lbs on average.
  - q: How do Basalt IL Tiles come packaged?
    a: There are 4 tile units per box, or 5.2 square feet per box and 66 boxes per
      crate, or 343.2 square feet per crate.
  - q: How many colors are available?
    a: 'Norstone offers 2 colors in Basalt IL Tiles: Ash Grey and Ebony.'
  - q: Are Basalt IL Tiles made from natural stone?
    a: Norstone only produces and supplies natural stone products including Basalt
      IL Tiles which are made from strips of Basalt, a cooled Basaltic lava stone.
  - q: What holds Basalt IL Tiles together?
    a: The mesh mat that Basalt IL Tiles are mounted on holds the product together
      and maintains spacing between individual strips, allowing for quicker installation
      and precise grout lines.
  - q: Is each Basalt IL Tile different?
    a: No, unlike our Rock Panel product, each Basalt IL Tile is the same.  This design
      allows them to interlock with other tile units and create a clean and uniform
      modern wall tile look.
  - q: How do Norstone Basalt IL Tiles compare to other modern wall tiles?
    a: Basalt IL Tiles are at the leading edge of modern wall tile design in terms
      of shape, size and color with the added benefit of being made from natural stone,
      which gives this product a heads up on other porcelain, ceramic, and glass modern
      wall tile options.
  - q: Will the color of the stone fade?
    a: No, actually the color of the natural stone used in our Basalt IL Tiles should
      stay consistent over many lifetimes assuming the proper application and re-application
      of a penetrating, water based sealer per the manufacturer&rsquo;s direction.
  - q: Can Basalt IL Tiles be used in wet areas?
    a: Yes, Basalt IL Tiles  can be used in or near swimming pools, water features,
      near beachfronts or salt spray.
  - q: Can Basalt IL Tiles be used for paving?
    a: No, Basalt IL Tiles should only be used for wall veneer applications.
  - q: Do Norstone Basalt IL Tiles stain?
    a: Basalt is a porous stone, thus all Basalt IL Tile applications should be sealed
      with a penetrating water based sealer to prevent any unwanted build up of contaminants
      on the face of the stone.  Natural stone may also be adversely affected by cleaning
      with acid wash or the use of incorrect tile adhesive, so please only use detergent
      cleaners to wash or clean the stone before, during, and after installation,
      along with the correct setting materials as listed in our <a href="/assets/pdfs/NorstoneUSA_Installation-Guide_basalt.pdf">installation
      guide</a>.
  - q: Are Basalt IL Tiles affected by cold weather?
    a: Basalt IL Tiles can be used in subzero or freeze/thaw conditions with no adverse
      effect if installed correctly and over a properly prepared substrate.  Please
      refer to our <a href="/assets/pdfs/NorstoneUSA_Installation-Guide_basalt.pdf">installation
      guide</a> for substrate diagrams for your installation.
  - q: Are Basalt IL Tiles affected by heat?
    a: Basalt IL Tiles can be used for wall cladding in extreme climates, such as
      40 to 50 degrees Celsius or 104 to 122 Fahrenheit.  A common application for
      Basalt IL Tiles is as a fireplace veneer, however, the product should only be
      installed on the outward facing areas of a fireplace, and never exposed to a
      direct flame.
- title: About Us
  questions:
  - q: Who is Norstone?
    a: Norstone is a global manufacturer and supplier of premium natural stone products.
  - q: What types of natural stone does Norstone use in its specialty products?
    a: Norstone&rsquo;s natural stone products are made from Basalt,  Quartz or Quartzite
      based sedimentary stone for strength and durability.
  - q: What is natural stone and why is it important?
    a: Natural stone is stone quarried from the earth in its natural state.  Natural
      stone is one of the oldest building materials in the world and is known for
      its exceptional durability and beauty, which manmade, or faux, stone products
      cannot equal.
  - q: Where does Norstone source its natural stone?
    a: Norstone natural stone products are quarried and manufactured in our factory
      in Vietnam, Southeast Asia and then container shipped across the globe.
  - q: Does Norstone observe and support human rights and child labor laws?
    a: Norstone employs only qualified professionals in its quarries and factories,
      and firmly stands against the exploitation of child labor.
  - q: What is Norstone&rsquo;s environmental policy?
    a: Norstone will never source natural stone from environmentally sensitive areas
      such as river systems, abides by all government regulations regarding the quarry
      of natural stone products, and is fully licensed to deal in the quarry and subsequent
      manufacture of natural stone based products.
  - q: What natural stone products does Norstone supply?
    a: Currently Norstone supplies Rock panels/stack stone veneer in both regular
      and XL Series, Basalt Interlocking Tiles units and is always looking for new
      and unique natural stone products to bring to the market.
layout: default
---
<div class="column row">
  <h1 class="standard text-center">Got a Question? Norstone is here to help.</h1>
  <p class="text-justified">Norstone always encourages you to call us for any question that you may have about your project, but we also find that we get a lot of common questions that we thought we might be able to answer here. Please read the Frequently Asked Questions and see
    if your question has already been answered, but if it hasn't been <a href="/contact-us">Contact Us Now</a></p>
  <ul class="accordion" data-accordion="" data-allow-all-closed="true">
    {% for section in page.faqs %}
    <li class="accordion-item" data-accordion-item="">
      <a href="" class="accordion-title"><span>{{ section.title }}</span></a>
      <div class="accordion-content" data-tab-content="">
        {% for item in section.questions %}
        <p class="faq-question"><strong>Q • {{ item.q }}</strong></p>
        <p class="faq-answer"><strong>A</strong> • <em>{{ item.a }}</em></p>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
