---
layout: default
title: Norstone | Natural Stone Veneer | Natural Stone Products
slides:
- image: /assets/images/unsorted/Norstone-Charcoal-Standard-Series-Rock-Panel.jpg
  caption: Natural Stone Designs for Stunning Spaces.
  link:
    text: View Our Gallery
    href: /gallery/
- image: /assets/images/unsorted/Norstone-Ochre-Blend-Stacked-Stone-Veneer-Feature-Walls_0.jpg
  caption: From Fireplace to Feature Wall, elevate your space.
  link:
    text: View Our Products
    href: /products/
- image: /assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panels-Ledgestone-Veneer-Fireplace.jpg
  caption: Save Time. Save Cost. Love your project.
  link:
    text: View Our Products
    href: /products/
---

<div class="slider-main" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay: 8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for slide in page.slides %}
    <li class="{% if forloop.index0==0 %}is-active {% endif %} orbit-slide">
      <div style="background-image: url('{{ slide.image }}'); background-repeat: no-repeat"></div>
      <figcaption class="orbit-caption x-large">
        <div class="row columns" style="font-family: 'Open Sans'">
          <a alt="View Norstone Product" class="float-right text-shadow box-shadow-center button--main" href="{{ slide.link.href }}">{{ slide.link.text }}</a>{{ slide.caption }}
        </div>
      </figcaption>
    </li>
    {% endfor %}
  </ul>
  <div class="row columns">
    <nav class="orbit-bullets">
      {% for slide in page.slides %}
      <button data-slide="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="is-active"{% endif %}><span class="show-for-sr"></span></button>
      {% endfor %}
    </nav>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="/products/stacked-stone-cladding" class="medium color-primary" style="font-size: 22px">Stone Veneer Rock Panel System</a></h2>
    <p>Norstone Rock Panels are a proven <a href="/products/stacked-stone-cladding">stacked stone &amp; ledgestone panel</a> system offering ease of installation and are ideal for interior and exterior design for both residential and commercial applications.</p>
    <p>
      <a href="/products/stacked-stone-cladding"><img width="300" height="149" src="/assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panel-Stacked-Stone-Veneer-Panel.png" alt="Norstone Ochre Blend Stacked Stone Veneer for Feature Walls, Fireplaces, Backsplashes, and Retaining Walls" /></a>
    </p>
    <a href="/products/stacked-stone-cladding" title="View Norstone's Rock Panel System" class="x-small color-secondary float-right">View Our Rock Panel System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" /></a>
  </div>
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="gallery/project" class="medium color-primary" style="font-size: 22px">Norstone's Featured Projects</a></h2>
    <p>Norstone's <a href="/products">natural stone wall</a> cladding products are used extensively throughout the world to create innovative designs for <a href="/gallery/application/pools/">water features</a>,
      <a href="/gallery/application/natural-stone-feature-walls">feature walls</a>, <a href="/gallery/application/fireplace">fireplaces</a>, <a href="/gallery/application/backsplashes/">backsplashes</a> and landscaping.</p>
    <p>
      <a href="gallery/project"><img width="296" height="149" src="/assets/images/unsorted/Norstone-Stacked-Stone-Veneer-Used-In-Commercial-Buildings.jpg" alt="Norstone Natural Stone Ledgestone Veneer for Commercial Buildings and Facades" /></a>
    </p>
    <a href="gallery/project" title="View Collection" class="x-small color-secondary float-right">View Our Featured Projects Gallery <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" /></a>
  </div>
  <div class="medium-4 columns" style="margin-bottom: 30px">
    <h2><a href="/products/modern-wall-tile" class="medium color-primary" style="font-size: 22px"><img width="41" height="15" src="/assets/images/unsorted/NEW3.png" alt="Basalt Tiles" /> Basalt InterLocking Tiles</a></h2>
    <p>Norstone is excited to announce its latest creation, the Basalt IL Tile. Hewn from <a href="/products/modern-wall-tile">cooled lava</a>, the contemporary styling of Norstone Basalt IL Tiles are perfect for
      <a href="/gallery/application/kitchens/">modern kitchens</a>, backsplashes, and retaining walls.</p>
    <p>
      <a href="/products/modern-wall-tile"><img width="300" height="151" src="/assets/images/unsorted/Norstone-Basalt-Interlocking-Tile-for-wall-cladding.jpg" alt="Norstone Basalt Interlocking Tiles" /></a>
    </p>
    <a href="/products/modern-wall-tile" title="View Norstone's Featured Product" class="x-small color-secondary float-right">View Our Basalt IL Tile System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" /></a>
  </div>
</div>
