---
title: Natural Stone Veneer | Natural Stone Products
meta:
  title: ""
  description: ""
slides:
- h1: true
  image: "/assets/images/unsorted/Norstone-Charcoal-Standard-Series-Rock-Panel.jpg"
  image_mobile: "/assets/images/unsorted/norstone-stone-veneer-concert-hall.jpg"
  caption: Natural Stone Designs for Stunning Spaces.
  link:
    text: View Our Gallery
    href: "/gallery/"
- image: "/assets/images/unsorted/Charcoal---Residential---Niagara-Falls-Feature-Home---Stacked-Stone-Facade-3.jpg"
  image_mobile: "/assets/images/unsorted/norstone-grey-stone-veneer-panel-siding.jpg"
  caption: Norstone Natural Stacked Stone Veneers.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ochre-Blend-Stacked-Stone-Veneer-Feature-Walls_0.jpg"
  image_mobile: "/assets/images/unsorted/norstone-cream-stone-veneer-wine-cellar-feature-wall.jpg"
  caption: From Fireplace to Feature Wall, elevate your space.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panels-Ledgestone-Veneer-Fireplace.jpg"
  image_mobile: "/assets/images/unsorted/norstone-stone-veneer-feature-wall-lobby-denver-2.jpg"
  caption: Save Time. Save Cost. Love your project.
  link:
    text: View Install Guide
    href: "/how-to-install-stacked-stone/"
- image: "/assets/images/unsorted/Norstone-White-Quartz-Stacked-Stone-Veneer-Used-On-A-Kitchen.jpg"
  image_mobile: "/assets/images/unsorted/norstone-modern-white-stone-fireplace.jpg"
  caption: Fine Natural Stone Veneers for Interior Design.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panels-Exterior-Stacked-Stone-Column.jpg"
  image_mobile: "/assets/images/unsorted/norstone-stone-veneer-stairs-denver.jpg"
  caption: Norstone Natural Stone Veneer. Redefine Rugged.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-White-Quartz-Stacked-Stone-Rock-Fireplace-Surround.jpg"
  image_mobile: "/assets/images/unsorted/norstone-stone-veneer-panels-used-in-pool-water-feature.jpg"
  caption: Sleek natural stone design without the price tag.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Charcoal-Rock-Panels-Commercial-Ledgestone-Fireplace.jpg"
  image_mobile: "/assets/images/unsorted/norstone-white-stacked-stone.jpg"
  caption: The world's most advanced natural stone system.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ivory-Quartz-Thin-Stone-Veneers-For-Fireplace-Feature-Walls.jpg"
  image_mobile: "/assets/images/unsorted/norstone-aztec-stone-veneer-backsplash.jpg"
  caption: Natural Stacked Stone Veneer for all occassions.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ochre-Blend-Stacked-Stone-Water-Feature.jpg"
  image_mobile: "/assets/images/unsorted/norstone-basalt-3d-panel-feature-wall-dallas.jpg"
  caption: Be Inspired by Norstone Natural Stone Products.
  link:
    text: View Our Products
    href: "/products/"
- image: "/assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panels-Exterior-Stacked-Stone-Feature-Wall.jpg"
  image_mobile: "/assets/images/unsorted/norstone-modern-basalt-tiles-in-grey-for-courtyards.jpg"
  caption: Thin Stone Veneer that rises to any occassion.
  link:
    text: View Our Products
    href: "/products/"
layout: default
schema:
  "@context": http://schema.org
  "@type": Website
  name: Norstone
  alternateName: Norstone Veneers
  url: http://www.NorstoneUSA.com
---

<div class="slider-main show-for-small-only" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay: 8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for slide in page.slides %}
    <li class="{% if forloop.index0==0 %}is-active {% endif %} orbit-slide">
      <div style="background-image: url('{{ slide.image_mobile }}'); background-repeat: no-repeat"></div>
      <figcaption class="orbit-caption x-large">
        <div class="row columns" style="font-family: 'Open Sans'">
          <a alt="View Norstone Product" class="float-right text-shadow box-shadow-center button--main" href="{{ slide.link.href }}">{{ slide.link.text }}</a>{{ slide.caption }}
        </div>
      </figcaption>
    </li>
    {% endfor %}
  </ul>
  <div class="row columns">
    <nav class="orbit-bullets">
      {% for slide in page.slides %}
      <button data-slide="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="is-active"{% endif %}><span class="show-for-sr"></span></button>
      {% endfor %}
    </nav>
  </div>
</div>
<div class="slider-main show-for-medium" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timerDelay: 8000">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for slide in page.slides %}
    <li class="{% if forloop.index0==0 %}is-active {% endif %} orbit-slide">
      <div style="background-image: url('{{ slide.image }}'); background-repeat: no-repeat"></div>
      <figcaption class="orbit-caption x-large">
        <div class="row columns" style="font-family: 'Open Sans'">
          <a alt="View Norstone Product" class="float-right text-shadow box-shadow-center button--main" href="{{ slide.link.href }}">{{ slide.link.text }}</a>
          {% if slide.h1 %}
          <h1 style="margin-bottom:0">{{ slide.caption }}</h1>
          {% else %}
          <h2 style="margin-bottom:0">{{ slide.caption }}</h2>
          {% endif %}
        </div>
      </figcaption>
    </li>
    {% endfor %}
  </ul>
  <div class="row columns">
    <nav class="orbit-bullets">
      {% for slide in page.slides %}
      <button data-slide="{{ forloop.index0 }}"{% if forloop.index0 == 0 %} class="is-active"{% endif %}><span class="show-for-sr"></span></button>
      {% endfor %}
    </nav>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="/products/stacked-stone-cladding" class="medium color-primary" style="font-size: 22px">Stone Veneer Rock Panel System</a></h2>
    <p>Norstone <em>Rock Panels</em> are a proven <a href="/products/stacked-stone-cladding">stacked stone &amp; ledgestone panel</a> system. Offering <a href="/how-to-install-stacked-stone/">lighting-fast installation</a>, our stone veneer is perfectly suited to interior & exterior design for both residential & commercial projects. Natural stone panels have never been easier to work with than they are with our Rock Panel system.</p>
    <p class="text-center">
      <a href="/products/stacked-stone-cladding"><img class="orbit-image" src="/assets/images/unsorted/Norstone-Ochre-Blend-Rock-Panel-Stacked-Stone-Veneer-Panel.png" title="Norstone Ochre Blend Stacked Stone Veneer" alt="Norstone Ochre Blend Stacked Stone Veneer for Feature Walls, Fireplaces, Backsplashes, and Retaining Walls" /></a>
    </p>
    <a href="/products/stacked-stone-cladding" title="View Norstone's Rock Panel System" class="x-small color-secondary float-right">View Our Rock Panel System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" /></a>
  </div>
  <div class="medium-4 columns" style="background: url(/assets/images/theme/divider-vertical.png) no-repeat center right scroll transparent; margin-bottom: 30px">
    <h2><a href="/gallery/project" class="medium color-primary" style="font-size: 22px">Norstone's Featured Projects</a></h2>
    <p>Norstone's <a href="/products">natural stone wall</a> cladding products are used extensively throughout the world to create innovative designs for <a href="/gallery/application/pools/">water features</a>,
      <a href="/gallery/application/natural-stone-feature-walls">feature walls</a>, <a href="/gallery/application/fireplace">stacked stone tile fireplaces</a>, <a href="/gallery/application/backsplash/">backsplashes</a> and masonry landscape walls. Browse our <a href="/gallery/project/">Featured Projects Gallery</a> to see some of our most distinguished work.</p>
    <p class="text-center">
      <a href="/gallery/project"><img class="orbit-image" src="/assets/images/unsorted/Norstone-Stacked-Stone-Veneer-Used-In-Commercial-Buildings.jpg" title="Norstone Natural Stone Ledgestone Veneer for Commercial Buildings" alt="Norstone Natural Stone Ledgestone Veneer for Commercial Buildings and Facades" /></a>
    </p>
    <a href="/gallery/project" title="View Collection" class="x-small color-secondary float-right">View Our Featured Projects Gallery <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" /></a>
  </div>
  <div class="medium-4 columns" style="margin-bottom: 30px">
    <h2><a href="/products/modern-wall-tile" class="medium color-primary" style="font-size: 22px"><img width="41" height="15" src="/assets/images/unsorted/NEW3.png" alt="Basalt Tiles" title="NEW3.png" /> Basalt InterLocking Tiles</a></h2>
    <p>Norstone is excited to announce its latest creation, the Basalt IL Tile. Hewn from <a href="/products/modern-wall-tile">cooled lava</a>, the modern styling of our Basalt IL Tile is perfect for
      <a href="/gallery/application/kitchen/">modern kitchens</a>, backsplashes, pools, <a href="gallery/application/showers/">showers</a> or retaining walls which are seeking a contemporary design with natural stone veneer.</p>
    <p class="text-center">
      <a href="/products/modern-wall-tile"><img class="orbit-image" src="/assets/images/unsorted/Norstone-Basalt-Interlocking-Tile-for-wall-cladding.jpg" alt="Norstone Basalt Interlocking Tiles for Modern Kitchens, Backsplashes, Pools, Showers and Retaining Walls" title="Norstone Basalt Interlocking Tiles" /></a>
    </p>
    <a href="/products/modern-wall-tile" title="View Norstone's Featured Product" class="x-small color-secondary float-right">View Our Basalt IL Tile System <img width="12" height="9" src="/assets/images/theme/arrows-img.png" alt="arrows-img" title="arrows-img.png" /></a>
  </div>
</div>
