<div class="column">
  <div class="card">
    <a class="card--image" href="{{ item.link }}"><img src="{{ site.url }}{{ item.image }}" alt="{{ item.title }}" title="{{ item.image }}"></a>
    <a class="card--title color-primary" href="{{ item.link }}">{{ item.title | upcase }}</a>
    <a href="{{ item.link }}" class="card--type {{ item.type }}">
    {% if item.type == 'project-gallery' %}
      {{ item.type_text }}
    {% elsif item.type == 'app-gallery' %}
      Application Gallery
    {% else %}
      Product Gallery
    {% endif %}
  </a>
  </div>
</div>
