<div class="slideshow-with-thumbnails">
  <h2 class="x-large color-primary">{{ page.product | upcase }}</h2>
  <div class="slideshow clearfix">
    <div class="owl-nav"></div>
    <div class="owl-carousel" data-slider-id="1">
      {% for image in page.gallery %}
      <div class="orbit-slide" {% if image.type %} data-product-type="{{ image.type }}"{% endif %}{% if image.tags %} data-tags='[&#34;{{ image.tags | join: '&#34;, &#34;' }}&#34;]'{% endif %}>
        <img src="{{ site.url }}{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>
