<div class="slideshow-with-thumbnails" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <h2 class="x-large color-primary">{{ page.product | upcase }}</h2>
  <ul class="orbit-container clearfix">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    {% for image in page.gallery %}
    <li class="{% if forloop.index0==0 %}class='is-active' {% endif %} orbit-slide">
      <img src="{{ image.src }}" alt="{{ image.alt }}">
    </li>
    {% endfor %}
  </ul>
  <a class="float-left scroll-left xx-large color-primary" style="padding: 0 10px" href="#">&lsaquo;</a>
  <a class="float-right scroll-right xx-large color-primary" style="padding: 0 10px" href="#">&rsaquo;</a>
  <nav class="orbit-bullets">
    {% for image in page.gallery %}
    <button data-slide="{{ forloop.index0 }}"{% if image.type %} data-product-type="{{ image.type }}"{% endif %}>
      <img src="{{ image.src }}" alt="{{ image.alt }}" title="" width="76" height="47" />
    </button>
    {% endfor %}
  </nav>
</div>
