<div id="header">
  <div class="row">
    <div class="large-6 columns">
      <a href="/" title="Home" rel="home" id="logo">
        <img id="_logo6" itemprop="logo" src="/assets/images/unsorted/norstone_natural_stacked_stone_logo(8).png" alt="Home" title="norstone_natural_stacked_stone_logo(8).png" />
      </a>
      <div class="hamburger is-open hide-for-large" data-toggle="offCanvas">
        <div class="top"></div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <path class="circle" fill="none" stroke-width="4" stroke-miterlimit="10" d="M16,32h32c0,0,11.723-0.306,10.75-11
            c-0.25-2.75-1.644-4.971-2.869-7.151C50.728,7.08,42.767,2.569,33.733,2.054C33.159,2.033,32.599,2,32,2C15.432,2,2,15.432,2,32
            c0,16.566,13.432,30,30,30c16.566,0,30-13.434,30-30C62,15.5,48.5,2,32,2S1.875,15.5,1.875,32" />
        </svg>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="large-6 columns show-for-large">
      <div class="row columns" style="padding: 10px 0 3px">
        <ul id="social-media-list" class="float-right menu">
          <li>
            <a href="https://pinterest.com/source/norstoneusa.com/"><img width="16" height="16" alt="Norstone Pinterest" title="pinterest2.png" src="/assets/images/unsorted/pinterest2.png" /></a>
          </li>
          <li>
            <a href="https://www.houzz.com/pro/norstoneusa/norstoneusa"><img width="16" height="16" alt="Remodeling and Home Design" title="houzzbadge20_20_2-copy.png" src="/assets/images/unsorted/houzzbadge20_20_2-copy.png" /></a>
          </li>
          <li>
            <a href="https://www.facebook.com/NorstoneUSA"><img width="16" height="16" src="/assets/images/theme/social-icons-facebook.png" alt="Facebook" title="social-icons-facebook.png" /></a>
          </li>
          <li>
            <a href="https://twitter.com/stackedstone"><img width="16" height="16" src="/assets/images/theme/social-icons-twitter.png" alt="Twitter" title="social-icons-twitter.png" /></a>
          </li>
          <li>
            <a href="/blog"><img width="16" height="16" src="/assets/images/unsorted/Blog.png" alt="Flickr" title="Blog.png" /></a>
          </li>
        </ul>
      </div>
      <div class="row columns">
        <p class="browse-products text-right" style="margin-bottom: 8px"><a href="/products" style="color: #4fb1d5; font-size: 12px; font-family:helvetica">Browse Product Series</a></p>
        <p class="how-to-buy text-right">
          <a href="/how-to-buy"><img width="237" height="18" src="/assets/images/unsorted/Learn-How-To-Buy-New-Banner2(1)6.png" alt="How to Buy" title="Learn-How-To-Buy-New-Banner2(1)6.png" /></a>
        </p>
      </div>
    </div>
  </div>
</div>
