<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if page.meta.title != '' %}{{ page.meta.title }}{% elsif page.title != '' %}{{ page.title }}{% endif %}{% if site.title %} | {{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="Norstone - Blog" href="/feed.xml" />
  <meta name="description" content="{% if page.meta.description %}{{ page.meta.description }}{% else %}Norstone, supplier of the premium Natural Stone, stone wall cladding, natural stone veneer rock panels for water features, feature walls and stacked stone walls.{% endif %}" />
  <meta name="keywords" content="natural stone,stone panel,ledgestone,granite,rock wall,stacked stone,stone veneer,water feature,paving,stacked stone wall,paving stone,norstone,monarostone,stacked stone veneer,ledger panel" />
  <meta name="dcterms.date" content="2011-03-07T00:00:00Z" />
  <meta name="revisit-after" content="1 day" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link type="text/css" rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Abel:regular|Josefin Slab:regular|Open+Sans:300,400,600,700,800|Open Sans Condensed:700" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/norstone.css" />
  {% if page.schema %}
  <script type="application/ld+json">
    {% yaml_to_json schema %}
  </script>
  {% endif %}
</head>
