{% assign current = page.path | downcase | split: '/' %}
{% assign current = current[1] %}
<div class="navigation-small menu">
  <ul class="vertical medium-horizontal menu">
    <li>
      <a href="/products/stacked-stone-cladding/"{% if current == "rock" %} class="active"{% endif %}>
        <img alt="Rock Panels" title="menu-small-rock.png" src="/assets/images/theme/menu-small-rock.png" /> Rock Panels
      </a>
    </li>
    <li>
      <a href="/products/thin-stone-veneer-panels/"{% if current == "xlx-rock" %} class="active"{% endif %}>
        <img alt="XL Rock Panels" title="menu-small-xl-rock.png" src="/assets/images/theme/menu-small-xl-rock.png" /> XL Rock Panels
      </a>
    </li>
    <li>
      <a href="/products/modern-wall-tile/"{% if current == "basalt" %} class="active"{% endif %}>
        <img alt="Basalt Tiles" title="menu-small-basalt.png" src="/assets/images/theme/menu-small-basalt.png" /> Basalt Tiles
      </a>
    </li>
    <li>
      <a href="/products/basalt-stone-panels/"{% if current == "basalt-3d" %} class="active"{% endif %}>
        <img alt="Basalt 3D" title="menu-small-basalt-3d.png" src="/assets/images/theme/menu-small-basalt-3d.png"> Basalt 3D
      </a>
    </li>
  </ul>
</div>
