{% assign current = page.path | downcase | split: '/' %}
{% assign current = current[1] %}
<div class="navigation-small menu">
  <ul class="vertical medium-horizontal menu">
    <li>
      <a href="/products/stacked-stone-cladding/"{% if current == "rock" %} class="active"{% endif %}>
        <img alt="Rock Panels" title="menu-small-rock.png" src="/assets/images/theme/menu-small-rock.png" /> Rock Panels
      </a>
    </li>
    <li>
      <a href="/products/thin-stone-veneer-panels/"{% if current == "xlx-rock" %} class="active"{% endif %}>
        <img alt="XL Rock Panels" title="menu-small-xl-rock.png" src="/assets/images/theme/menu-small-xl-rock.png" /> XL Rock Panels
      </a>
    </li>
    <li>
      <a href="/products/lynia-mosaic-tiles/"{% if current == "basalt" %} class="active"{% endif %}>
        <img alt="Lynia Tiles in Basalt and Marble for Walls - Small Icon" title="Lynia Tiles in Basalt and Marble for Walls - Small Icon" src="/assets/images/theme/menu-small-basalt.png" /> Lynia Tiles
      </a>
    </li>
    <li>
      <a href="/products/aksent-modern-tiles/"{% if current == "basalt-3d" %} class="active"{% endif %}>
        <img alt="Aksent 3D Panels in Basalt and Marble for Walls - Small Icon" title="Aksent 3D Panels in Basalt and Marble for Walls - Small Icon" src="/assets/images/theme/menu-small-basalt-3d.png"> Aksent 3D Panels
      </a>
    </li>
  </ul>
</div>
