<div class="navigation-large menu-centered">
  <ul class="horizontal menu icon-top">
    <li>
      <a href="/products/stacked-stone-cladding/">
        <img alt="Rock Panels" title="menu-large-rock.png" src="/assets/images/theme/menu-large-rock.png" />
        <p>Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/thin-stone-veneer-panels/">
        <img alt="XL Rock Panels" title="menu-large-xl-rock.png" src="/assets/images/theme/menu-large-xl-rock.png" />
        <p>XL Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/modern-wall-tile/">
        <img alt="Basalt Tiles" title="menu-large-basalt.png" src="/assets/images/theme/menu-large-basalt.png" />
        <p>Basalt Tiles</p>
      </a>
    </li>
    <li>
      <a href="/products/basalt-stone-panels/">
        <img alt="Basalt 3D" title="menu-large-basalt-3d.png" src="/assets/images/theme/menu-large-basalt-3d.png">
        <p>Basalt 3D</p>
      </a>
    </li>
  </ul>
</div>
