{% assign current = page.path | downcase | split: '/' %}
{% assign current = current[1] %}

<div class="navigation-small menu-centered">
  <ul class="vertical medium-horizontal menu">
    <li>
      <a href="/gallery/rock-panels/"{% if current == "rock" or current == "rock-panels" %} class="active"{% endif %}>
        <img alt="Rock Panels" title="menu-small-rock.png" src="/assets/images/theme/menu-small-rock.png" /> Rock Panels
      </a>
    </li>
    <li>
      <a href="/gallery/xlx-rock-panels/"{% if current == "xlx-rock-panels" %} class="active"{% endif %}>
        <img alt="XL Rock Panels" title="menu-small-xl-rock.png" src="/assets/images/theme/menu-small-xl-rock.png" /> XL Rock Panels
      </a>
    </li>
    <li>
      <a href="/gallery/basalt-il-tiles/"{% if current == "basalt" %} class="active"{% endif %}>
        <img alt="Basalt Tiles" title="menu-small-basalt.png" src="/assets/images/theme/menu-small-basalt.png" /> Basalt Tiles
      </a>
    </li>
    <li>
      <a href="/gallery/basalt-3d/"{% if current == "basalt-3d" %} class="active"{% endif %}>
        <img alt="Basalt 3D" title="menu-small-basalt-3d.png" src="/assets/images/theme/menu-small-basalt-3d.png"> Basalt 3D
      </a>
    </li>
    <li>
      <a href="/gallery/application/"{% if current == "application" %} class="active"{% endif %}>
        <img alt="Applications" title="menu-small-applications.png" src="/assets/images/theme/menu-small-applications.png"> Applications
      </a>
    </li>
    <li style="background-position: 0 -87px">
      <a href="/gallery/project/"{% if current == "project" %} class="active"{% endif %}>
        <img alt="Projects" title="menu-small-projects.png" src="/assets/images/theme/menu-small-projects.png"> Projects
      </a>
    </li>
  </ul>
</div>
