<h1 class="standard text-center">Get Inspired. Select a gallery type to begin.</h1>
<div class="navigation-large menu-centered">
  {% assign current = page.url | downcase | split: '/' %}
  <ul class="vertical medium-horizontal menu icon-top">
    <li>
      <a {% if current[2] == "rock-panels" %} class="active"{% endif %} href="/gallery/rock-panels/">
        <img alt="Rock Panels" title="menu-large-rock.png" src="/assets/images/theme/menu-large-rock.png" />
        <p>Rock Panels</p>
      </a>
    </li>
    <li>
      <a {% if current[2] == "xlx-rock-panels" %} class="active"{% endif %} href="/gallery/xlx-rock-panels/">
        <img alt="XL Rock Panels" title="menu-large-xl-rock.png" src="/assets/images/theme/menu-large-xl-rock.png" />
        <p>XL Rock Panels</p>
      </a>
    </li>
    <li>
      <a {% if current[2] == "basalt-il-tiles" %} class="active"{% endif %} href="/gallery/basalt-il-tiles/">
        <img alt="Basalt Tiles" title="menu-large-basalt.png" src="/assets/images/theme/menu-large-basalt.png" />
        <p>Basalt Tiles</p>
      </a>
    </li>
    <li class="divider-right">
      <a {% if current[2] == "basalt-3d" %} class="active"{% endif %} href="/gallery/basalt-3d/">
        <img alt="Basalt 3D" title="menu-large-basalt-3d.png" src="/assets/images/theme/menu-large-basalt-3d.png" />
        <p>Basalt 3D</p>
     </a>
    </li>
    <li class="divider-left">
      <a {% if current[2] == "application" %} class="active"{% endif %} href="/gallery/application/">
        <img alt="Applications" title="menu-large-applications.png" src="/assets/images/theme/menu-large-applications.png" />
        <p>Applications</p>
      </a>
    </li>
    <li>
      <a {% if current[2] == "project" %} class="active"{% endif %} href="/gallery/project/">
        <img alt="Projects" title="menu-large-projects.png" src="/assets/images/theme/menu-large-projects.png" />
        <p>Projects</p>
     </a>
   </li>
</div>
<hr />
