{% assign current = page.url | downcase | split: '/' %}
<li{% if page.url == "/" %} class="active-trail active" {% endif %}><a href="/" title="Norstone USA" {% if page.url == "/" %} class="active" {% endif %}>HOME</a></li>
<li{% if current[1] == "products" %} class="active-trail active" {% endif %}><a href="/products" title="" {% if current[1] == "products" %}class="active" {% endif %}>PRODUCTS</a>
  <ul class="hide-for-large">
    <li><a href="/products/stacked-stone-cladding/">Rock Panels</a></li>
    <li><a href="/products/thin-stone-veneer-panels/">XL Rock Panels</a></li>
    <li><a href="/products/modern-wall-tile/">Basalt Tiles</a></li>
    <li><a href="/products/basalt-stone-panels/">Basalt 3D</a></li>
  </ul>
</li>
<li{% if current[1] == "gallery" %} class="active-trail active" {% endif %}><a href="/gallery" title="" {% if current[1] == "gallery" %} class="active" {% endif %}>GALLERY</a>
  <ul class="hide-for-large">
    <li><a href="/gallery/rock-panels/">Rock Panels</a></li>
    <li><a href="/gallery/xlx-rock-panels/">XL Rock Panels</a></li>
    <li><a href="/gallery/basalt-il-tiles/">Basalt Tiles</a></li>
    <li><a href="/gallery/basalt-3d/">Basalt 3D</a></li>
    <li><a href="/gallery/application/">Applications</a></li>
    <li><a href="/gallery/project/">Projects</a></li>
  </ul>
</li>
<li{% if current[1] == "how-to-install-stacked-stone" %} class="active-trail active" {% endif %}><a href="/how-to-install-stacked-stone" title="installation guide" {% if current[1] == "how-to-install-stacked-stone" %} class="active" {% endif %}>INSTALLATION GUIDE</a></li>
<li{% if current[1] == "faq" %} class="active-trail active" {% endif %}><a href="/faq" title="Frequently Asked Questions" {% if current[1] == "faq" %} class="active" {% endif %}>FAQ</a></li>
<li{% if current[1] == "client-testimonials" %} class="active-trail active" {% endif %}><a href="/client-testimonials" title="client testimonials" {% if current[1] == "client-testimonials" %} class="active" {% endif %}>CLIENT TESTIMONIALS</a></li>
<li{% if current[1] == "contact-us" %} class="active-trail active" {% endif %}><a href="/contact-us" title="contact us" {% if current[1] == "contact-us" %} class="active" {% endif %}>CONTACT US</a></li>
<li class='hide-for-large{% if current[1] == "how-to-buy" %} active-trail active{% endif %}'><a href="/how-to-buy" title="how to buy" {% if current[1] == "how-to-buy" %} class="active" {% endif %}>HOW TO BUY</a></li>
<li class="hide-for-large"><a href="tel:+18667174548">1-866-717-4548</a></li>
