<div class="navigation-large menu-centered">
  <ul class="horizontal menu icon-top">
    <li>
      <a href="/products/stacked-stone-cladding/">
        <img alt="Rock Panels" title="menu-large-rock.png" src="/assets/images/theme/menu-large-rock.png" />
        <p style=text-align:center>Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/thin-stone-veneer-panels/">
        <img alt="XL Rock Panels" title="menu-large-xl-rock.png" src="/assets/images/theme/menu-large-xl-rock.png" />
        <p style=text-align:center>XL Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/lynia-mosaic-tiles/">
        <img alt="Lynia IL Tiles in Basalt and Marble for Walls - Icon" title="Lynia IL Tiles in Basalt and Marble for Walls - Icon" src="/assets/images/theme/menu-large-basalt.png" />
        <p style=text-align:center>Lynia Tiles</p>
      </a>
    </li>
    <li>
      <a href="/products/aksent-modern-tiles/">
        <img alt="Aksent 3D Panels in Basalt and Marble for Walls - Icon" title="Aksent 3D Panels in Basalt and Marble for Walls - Icon" src="/assets/images/theme/menu-large-basalt-3d.png">
        <p style=text-align:center>Aksent 3D Panels</p>
      </a>
    </li>
  </ul>
</div>
