{% assign current = page.url | downcase | split: '/' %}
<h2 class="large color-primary"><img alt="Triangle" title="color-triangle.png" src="/assets/images/theme/color-triangle.png" /> Select Your <span style="color: #1c778f">Rock Panel</span>:</h2>
<div class="row large-collapse small-up-2 large-up-1">
  {% for product in page.products %}
  <div class="column">
    <h4 class="color-primary" style="margin-bottom:0">{{ product.title }}</h4>
    {% assign productlink = product.link | downcase | split: '/' %}
    <a class="product-color{% if productlink[3] == current[3] %} active{% endif %}" href="{{ product.link }}" style="background-image: url({{ site.url }}/{{ product.image }})"></a>
  </div>
  {% endfor %}
</div>
<div class="row columns">
  <p><a href="{{ page.gallery.link }}">{{ page.gallery.text }}<img width="12" height="9" alt="arrows-img" title="arrows-img.png" class="arrow" src="/assets/images/theme/arrows-img.png" /></a></p>
</div>
