---
layout: default
classes: section-blog node-type-blog-entry one-sidebar
---

<div id="content_top_full">
    <div class="background">
        <div class="size">
            <div class="region region-content-top-full">
                <div id="block-block-60" class="block block-block first region-odd even region-count-1 count-2 ">
                    <div class="content">
                        <p><img style="margin-top:10px" src="/sites/default/files/blog-banner.jpg" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="size">
        <div id="content">
            <div id="content-middle">
              {{ content }}
            </div>
            <div class="clear"></div>
        </div>
        <div id="sidebar_first">
            <div class="region region-sidebar-first column sidebar">
                <div class="section">
                    <div id="block-block-42" class="block block-block first region-odd odd region-count-1 count-3 ">
                        <div class="content">
                            <h2 class="title blue">How to Use This Blog</h2>
                            <p>A forum dedicated to discussing design themes, sources of inspiration, natural stone, and how the world around us influences our creative interpretation and buying preferences. In this blog you'll find our articles sorted according
                                to 3 topics:</p>
                            <p>&nbsp;</p>
                            <p><img src="/sites/default/files/image/BlogCategories(2).png" width="220" height="152" alt=""></p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                    <div id="block-block-44" class="block block-block region-even even region-count-2 count-4 ">
                        <div class="content">
                            <h2 class="title">Check Us Out</h2>
                            <div class="follow-buttons">
                                <a href="http://www.facebook.com/NorstoneUSA" target="_blank"><img alt="" target="_blank" src="/sites/default/themes/garden/images/facebook.png"></a>
                                <a target="_blank" href="http://twitter.com/#!/stackedstone"><img alt="" src="/sites/default/themes/garden/images/twitter.png"></a>
                                <a href="http://pinterest.com/source/norstoneusa.com/"><img src="/sites/default/files/image/Pinterest.png" width="45" height="45" alt=""></a>
                                <a target="_blank" href="#"><img alt="" src="/sites/default/themes/garden/images/rss.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
