---
layout: default
---

<div class="row columns">
  <img style="margin-top:10px" src="/assets/images/unsorted/blog-banner.jpg" alt="">
  <hr />
</div>
<div class="row">
  <div id="content" class="large-8 columns">
    {{ content }}
  </div>
  <div class="large-4 columns">
    <h2 class="large color-secondary">How to Use This Blog</h2>
    <p>A forum dedicated to discussing design themes, sources of inspiration, natural stone, and how the world around us influences our creative interpretation and buying preferences. In this blog you'll find our articles sorted according to 3 topics:</p>
    <p><img src="/assets/images/unsorted/BlogCategories(2).png" width="220" height="152" alt=""></p>
    <h2 class="large color-secondary">Check Us Out</h2>
    <div class="follow-buttons">
      <a href="http://www.facebook.com/NorstoneUSA" target="_blank"><img alt="" target="_blank" src="/assets/images/theme/facebook.png"></a>
      <a target="_blank" href="http://twitter.com/#!/stackedstone"><img alt="" src="/assets/images/theme/twitter.png"></a>
      <a href="http://pinterest.com/source/norstoneusa.com/"><img src="/assets/images/unsorted/Pinterest.png" alt=""></a>
      <a target="_blank" href="/feed/"><img alt="" src="/assets/images/theme/rss.png"></a>
    </div>
  </div>
</div>
