---
layout: blog-list
classes: section-blog node-type-blog-entry
---

<div id="node-10772" class="node node-type-blog-entry node-promoted build-mode-full clearfix">
    <h2 class="title">{{ page.title }}</h2>
    <div class="content">
        <div class="field field-type-text field-field-full-body">
            <div class="field-items">
                <div class="field-item odd">
                  {{ content }}
                </div>
            </div>
        </div>
    </div>
    <ul class="links inline">
        <li class="comment_add first last"><a href="#" title="Share your thoughts and opinions related to this posting.">Add new comment</a></li>
    </ul>
</div>
