---
layout: default
title: Norstone Gallery
classes: page-products one-sidebar
---

<div class="product-header">
  <div class="row large-collapse">
    <div class="large-8 columns">
      <a href="{{ page.header.link }}"><img class="orbit-image" alt="Norstone's Natural Stacked Stone Thin Veneer Wall Panels" src="{{ page.header.image }}" /></a>
    </div>
    <div class="large-4 columns">
      <h1 class="xx-large color-secondary text-center large-text-right" style="margin-bottom: 5px">{{ page.header.title }}</h1>
      <h2 class="small color-primary text-center large-text-right">{{ page.header.subtitle }}</h2>
      <p class="text-justify">{{ page.header.description }}</p>
      <a class="button--main float-right" href="#select-color">Select Color Below</a>
    </div>
  </div>
</div>
<div class="row columns">
  {% include navigation-products-small.html %}
</div>
<div class="row">
  <div class="large-8 columns">
    {{ content }}
  </div>
  <div id="select-color" class="large-4 columns">
    {% include products-sidebar.html %}
  </div>
</div>
