---
layout: default
title: Norstone Gallery
classes: page-products one-sidebar
---

<div class="row">
  <div class="large-8 columns">
    <a href="{{ page.header.link }}"><img width="640" height="257" alt="Norstone's Natural Stacked Stone Thin Veneer Wall Panels" src="{{ page.header.image }}" /></a>
  </div>
  <div class="large-4 columns">
    <h1 class="text-right">{{ page.header.title }}</h1>
    <h2 class="text-right">{{ page.header.subtitle }}</h2>
    <p class="text-justify">{{ page.header.description }}</p>
    <a class="button" href="#select-color">Select Color Below</a>
  </div>
</div>
<div class="row columns">
  {% include navigation-products-small.html %}
</div>
<div class="row">
  <div class="large-8 columns">
    {{ content }}
  </div>
  <div id="select-color" class="large-4 columns">
    {% include products-sidebar.html %}
  </div>
</div>
