hr {
  background: url('/assets/images/theme/bg-qtproducts-shadow-menu.png') no-repeat center bottom;
  border: none;
  height: 23px;
  margin: 0 0 30px;
}

blockquote {
  background: #fafafa url(/assets/images/theme/open-quote.png) 8px 10px no-repeat;
  border: 1px solid #E7E7E7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
  color: #8f8f8f;
  float: left;
  font-family: "Abel";
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 18px;
  padding: 10px 8px 10px 24px;
  width: 100%;
}

cite {
  color: #3399cc;
  float: right;
  font: normal 13px "Open Sans";
  &:before {
    content: '\2013 \0020';
  }
}

.accordion-title {
  background: url("/assets/images/theme/faq-header-bg.jpg") repeat-x;
  padding: 9px 0 9px 30px;
  &:before {
    content: '';
  }
  span {
    background: url("/assets/images/theme/active-arrow.png") no-repeat left center;
    font-family: "Open Sans";
    font-size: 18px;
    padding: 0 0 0 20px;
    text-transform: uppercase;
  }
}

.accordion-item.is-active span {
  background: url("/assets/images/theme/active-arrow-down.png") no-repeat left center;
}

.accordion-content {
  background-color: #e5e3e3;
  padding: 20px 30px;
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
}

.button--main {
  background-image: url("/assets/images/theme/banner-cta-interior-button-3.png");
  background-position: left top;
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 19px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  width: 182px;
  &:hover {
    background-position: left bottom;
    color: #fff;
  }
}

.button--product {
  background: url('/assets/images/theme/bg-qtlinks.png') no-repeat;
  bottom: 40px;
  color: #fff;
  display: block;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  height: 31px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
  width: 324px;
}

.list-download {
  background: url('/assets/images/theme/bg-li-download.png') no-repeat left center;
  list-style-type: none;
  padding: 10px 0 10px 40px;
}

.list-link {
  background: url('/assets/images/theme/bg-li-arrow.png') no-repeat 5px center;
  list-style-type: none;
  padding: 10px 0 10px 40px;
}

.pictured-product {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 5px -1px #bbb;
  padding: 5px;
  position: relative;
}

.collapse .pictured-product {
  margin: 0 5px 10px;
  min-height: 280px;
}

.card--title {
  color: #737373;
  display: block;
  font-family: Josefin Slab;
  font-size: 24px;
  line-height: 24px;
  margin-top: 20px;
  text-transform: uppercase;
}

.card--type {
  background-image: url('/assets/images/theme/product-gallery-icon.png');
  background-repeat: no-repeat;
  bottom: 5px;
  color: #737373;
  display: block;
  height: 14px;
  font-family: Open Sans;
  font-size: 12px;
  left: 5px;
  line-height: 16px;
  padding-left: 60px;
  position: absolute;
  &.rock-panels {
    background-position: 0 -6px;
  }
  &.xl-rock-panels {
    background-position: 0 -26px;
  }
  &.basalt-tiles {
    background-position: 0 -49px;
  }
  &.basalt-3d {
    background-position: 0 -115px;
  }
  &.app-gallery {
    background-position: 0 -67px;
    height: 20px;
    line-height: 24px;
  }
  &.project-gallery {
    background-position: 0 -88px;
    height: 22px;
    line-height: 28px;
  }
}

.product-color {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  display: inline-block;
  position: relative;
  &:hover {
    box-shadow: inset 0 0 40px #000;
  }
  &:after {
    padding-top: 50%;
    display: block;
    content: '';
  }
  div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.slideshow-with-thumbnails {
  h2 {
    margin: 0;
  }
  .orbit-next {
    margin-right: 11px;
  }
  .orbit-previous {
    margin-left: 11px;
  }
  .orbit-container img {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    -moz-box-shadow: 0 4px 5px -1px #bbb;
    -webkit-box-shadow: 0 4px 5px -1px #bbb;
    box-shadow: 0 4px 5px -1px #bbb;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
  .orbit-bullets {
    overflow-x: scroll;
    white-space: nowrap;
    button {
      background: transparent;
      border-radius: initial;
      height: auto;
      margin: auto;
      width: auto;
    }
  }
}

.blog #content img {
  padding: 10px;
}

.tabs {
  background: transparent;
  border: none;
}

.tabs-title {
  border-right: 1px solid transparent;
  a {
    background-color: #cdcccc;
    color: #6b6b6b;
    padding: .5rem .8rem;
    text-transform: uppercase;
    &:hover {
      background-color: #e5e3e3;
      color: #4fb1d5;
    }
  }
  &.is-active a {
    background-color: #e5e3e3;
    color: #4fb1d5;
  }
  @include breakpoint(small only) {
    float: none;
    a {
      line-height: 30px;
    }
  }
}

.tabs-content {
  background-color: #e5e3e3;
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;
    line-height: 22px;
  }
}

.gallery-body {
  background-color: #fff;
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  margin-bottom: 20px;
}
