@include breakpoint(large) {
  #norstone-menu {
    background-image: url(/assets/images/theme/navbar-bg.jpg);
    background-repeat: repeat;
    height: 48px;
    line-height: normal;
    padding: 0;
    ul {
      background-color: transparent;
      text-align: center;
      padding: 0px;
      margin: 0px;
      li {
        border-style: solid;
        border-width: 0 1px;
        border-left: 1px solid #74B2c4;
        border-right: 1px solid #44879d;
        margin: 0 0 0 -3px;
        padding: 0 !important;
        a {
          color: #ebebeb;
          font-family: open sans;
          font-size: 14px;
          letter-spacing: 1px;
          padding: 18px 16px 15px;
        }
        &.active a, &.active-trail a, a:hover {
          background: url('/assets/images/theme/navbar-bg.jpg') repeat-x 0 -46px;
        }
      }
    }
  }
}

#product-navigation {
  a {
    height: 60px;
    margin: 0 30px;
    width: 113px;
  }
}

.menu > .menu {
  display: inline-block;
}

.navigation-large .menu {
  li a {
    font-weight: bold;
    margin: 0 20px;
    opacity: 0.5;
    padding: 0;
    text-transform: uppercase;
    &:hover, &.active {
      opacity: 1;
    }
    p {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
    img {
      margin-bottom: 20px;
    }
  }
  @include breakpoint(medium) {
    .divider-left {
      border-left: 1px solid #dcdcdc;
    }
    .divider-right {
      border-right: 1px solid $white;
    }
  }
  @include breakpoint(small only) {
    .divider-left {
      border-top: 1px solid #dcdcdc;
    }
    .divider-right {
      border-bottom: 1px solid $white;
    }
  }
}

.navigation-small {
  margin-bottom: 20px;
  padding-bottom: 6px;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0 8px;
    a {
      color: #83888d;
      display: inherit;
      font-size: 10px;
      height: 41px;
      padding: 20px 8px;
      text-transform: uppercase;
    }
  }
  @include breakpoint(medium) {
    background: url('/assets/images/theme/bg-qtproducts-shadow-gallery-menu.png') no-repeat center bottom;
    li a {
      &:hover, &.active {
        background: url('/assets/images/theme/subnav-small-arrow.png') no-repeat center bottom;
      }
    }
  }
  @include breakpoint(small only) {
    ul {
      width: 100%;
    }
    li {
      height: 60px;
      a {
        height: 60px;
        &:hover, &.active {
          background: #e3e3e3;
        }
      }
    }
  }
}

// Hack for IE9 and lower.
.lt-ie10 .off-canvas {
  right: -250px;
}
