.slide-in-left-fast {
  @include mui-slide(
    $state: in,
    $direction: right,
    $duration: 200ms
  );
}

.slide-out-left-fast {
  @include mui-slide(
    $state: out,
    $direction: left,
    $duration: 200ms
  );
}

.slide-in-right-fast {
  @include mui-slide(
    $state: in,
    $direction: left,
    $duration: 200ms
  );
}

.slide-out-right-fast {
  @include mui-slide(
    $state: out,
    $direction: right,
    $duration: 200ms
  );
}

hr {
  background: url('/assets/images/theme/bg-qtproducts-shadow-menu.png') no-repeat center bottom;
  border: none;
  height: 23px;
  margin: 0 0 30px;
}

blockquote {
  background: #fafafa url(/assets/images/theme/open-quote.png) 8px 10px no-repeat;
  border: 1px solid #E7E7E7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
  color: #8f8f8f;
  float: left;
  font-family: "Abel";
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 18px;
  padding: 10px 8px 10px 24px;
  width: 100%;
}

cite {
  color: #3399cc;
  float: right;
  font: normal 13px "Open Sans";
  &:before {
    content: '\2013 \0020';
  }
}

.accordion-title {
  background: url("/assets/images/theme/faq-header-bg.jpg") repeat-x;
  padding: 9px 0 9px 30px;
  &:before {
    content: '';
  }
  span {
    background: url("/assets/images/theme/active-arrow.png") no-repeat left center;
    color: map-get($foundation-palette, secondary);
    font-family: "Open Sans";
    font-size: 18px;
    padding: 0 0 0 20px;
    text-transform: uppercase;
  }
}
.mobile-accordion .is-active .accordion-title span, .accordion-item.is-active span {
  background: url("/assets/images/theme/active-arrow-down.png") no-repeat left center;
}

.accordion-content {
  background-color: #e5e3e3;
  padding: 20px 30px;
}

.accordion-small {
  .tabs-title a {
    @include breakpoint(medium down) {
      font-size: 11px;
      padding: .3rem .5rem;
    }
  }
}

.shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
}

.button--main {
  background-image: url("/assets/images/theme/banner-cta-interior-button-3.png");
  background-position: left top;
  background-repeat: no-repeat;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 600;
  height: 37px;
  line-height: 37px;
  padding: 0 15px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  &:hover {
    background-position: left bottom;
    color: $white;
  }
}

.button--product {
  background: url('/assets/images/theme/bg-qtlinks.png') no-repeat;
  bottom: 40px;
  color: $white;
  display: block;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  height: 31px;
  line-height: 30px;
  text-align: center;
  text-transform: none;
  width: 324px;
}

.hamburger {
  float: right;
  margin: -12px -10px 0 0;
  z-index: 999;
  cursor: pointer;
  display: block;
  height: 68px;
  margin-top: 6px;
  position: relative;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 68px;
  path, line {
    stroke: map-get($foundation-palette, primary);
    stroke-linecap: round;
  }
  .top, .bottom {
    background: map-get($foundation-palette, primary);
    border-radius: 2px;
    display: block;
    height: 4px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 34px 2px;
    -ms-transform-origin: 34px 2px;
    transform-origin: 34px 2px;
    -webkit-transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
    transition: all 500ms cubic-bezier(0.8, -1.1, 0.5, 1.9);
    width: 36px;
  }
  .top {
    top: 19px;
    left: 14px;
  }
  .bottom {
    top: 41px;
    left: 14px;
  }
  .circle {
    stroke-dasharray: 1 100 32 300;
    stroke-dashoffset: 101;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
  }
  &.is-closed {
    .circle {
      stroke-dasharray: 1 100 190 300;
      stroke-dashoffset: 1;
    }
    .top {
      -webkit-transform: translateX(-4.5px) rotate(-45deg);
      -ms-transform: translateX(-4.5px) rotate(-45deg);
      transform: translateX(-4.5px) rotate(-45deg);
    }
    .bottom {
      -webkit-transform: translateX(-4.5px) rotate(45deg);
      -ms-transform: translateX(-4.5px) rotate(45deg);
      transform: translateX(-4.5px) rotate(45deg);
    }
  }
}

.list-download {
  background: url('/assets/images/theme/bg-li-download.png') no-repeat left center;
  list-style-type: none;
  padding: 10px 0 10px 40px;
}

.list-link {
  background: url('/assets/images/theme/bg-li-arrow.png') no-repeat 5px center;
  list-style-type: none;
  padding: 10px 0 10px 40px;
}

.card {
  background-color: $white;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 5px -1px #bbb;
  margin: 0 5px 10px;
  padding: 5px;
  position: relative;
  width: auto;
}

.orbit-var-height {
  .orbit-container {
    @include breakpoint(medium down) {
      height: inherit !important;
      li {
        max-height: inherit !important;
      }
    }
  }
  .orbit-slide > .row > .small-6 {
    @include breakpoint(medium down) {
      height: auto !important;
    }
  }
}

.other-galleries {
  .card {
    margin: 0 5px 10px;
    min-height: 280px;
    width: initial;
    @include breakpoint (large) {
      .card--image {
        margin-bottom: 0;
      }
      .card--title {
        float: none;
        margin: 10px 0 20px;
        position: initial;
        text-align: left;
      }
    }
  }
}

.pictured-product .card {
  margin: 0 5px 10px;
  width: initial;
  .card--image {
    margin-bottom: 0;
  }
  .card--title {
    float: none;
    margin: 10px 0 20px;
    position: initial;
    text-align: left;
    width: 60%;
  }
}

.card--title {
  bottom: 0;
  color: #737373;
  display: block;
  float: right;
  font-family: Josefin Slab;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  right: 4px;
  text-align: right;
  text-transform: uppercase;
  width: 55%;
}

.card--image {
  display: block;
  margin-bottom: 55px;
}

.card--type {
  background-image: url('/assets/images/theme/product-gallery-icon.png');
  background-repeat: no-repeat;
  bottom: 5px;
  color: #737373;
  display: block;
  height: 14px;
  font-family: Open Sans;
  font-size: 12px;
  left: 5px;
  line-height: 16px;
  padding-left: 60px;
  position: absolute;
  &.rock-panels {
    background-position: 0 0;
  }
  &.xlx-rock-panels {
    background-position: 0 -44px;
  }
  &.basalt-tiles {
    background-position: 0 -88px;
  }
  &.basalt-3d {
    background-position: 0 -132px;
  }
  &.app-gallery {
    background-position: 0 -176px;
    height: 20px;
    line-height: 24px;
  }
  &.project-gallery {
    background-position: 0 -220px;
    height: 22px;
    line-height: 28px;
  }
}

.color-styles > div {
  margin-right: 20px;
  float: left;
  width: 70px;
}

.image-shadow {
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

.menu {
  a {
    background-color: transparent;
    color: map-get($foundation-palette, secondary);
  }
  ul {
    margin-left: 40px;
  }
  li {
    list-style: none;
  }
  .active > a {
    background-color: map-get($foundation-palette, secondary);
    color: $white;
  }
}

.product-color {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: inline-block;
  position: relative;
  &:hover {
    box-shadow: inset 0 0 40px #000;
  }
  &:after {
    padding-top: 50%;
    display: block;
    content: '';
  }
  &.active {
    border: 4px solid #4fb2d5;
    box-shadow: inset 0 0 40px #000;
  }
}

.orbit-container {
  @include breakpoint(small only) {
    figcaption {
      font-size: 12px;
      padding: 10px;
    }
    a {
      font-size: 12px;
    }
  }
  .orbit-previous {
    background: url('/assets/images/theme/arrow-left.png') no-repeat right top;
    display: none;
    height: 55px;
    padding: 0 20px;
    width: 31px;
    &:hover, &:active, &:focus {
      background: url('/assets/images/theme/arrow-left.png') no-repeat right -58px;
    }
  }

  .orbit-next {
    background: url('/assets/images/theme/arrow-right.png') no-repeat left top;
    display: none;
    height: 55px;
    padding: 0 20px;
    width: 31px;
    &:hover, &:active, &:focus {
      background: url('/assets/images/theme/arrow-right.png') no-repeat left -58px;
    }
  }
}

.slideshow-with-thumbnails {
  @include breakpoint(medium down) {
    margin-bottom: 20px;
  }
  h1 {
    margin: 0;
  }
  .slideshow {
    position: relative;
  }
  .orbit-next {
    margin-right: 11px;
  }
  .orbit-previous {
    margin-left: 11px;
  }
  .owl-item img {
    background-color: $white;
    border: 1px solid #e6e6e6;
    -moz-box-shadow: 0 4px 5px -1px #bbb;
    -webkit-box-shadow: 0 4px 5px -1px #bbb;
    box-shadow: 0 4px 5px -1px #bbb;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
  .owl-thumbs {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
    white-space: nowrap;
    img {
      margin: 2px;
      width: 76px;
    }
  }
  .owl-nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .owl-prev {
    background: url('/assets/images/theme/arrow-left.png') no-repeat right top;
    cursor: pointer;
    display: none;
    height: 55px;
    padding: 0 20px;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    left: 10px;
    width: 31px;
    z-index: 2;
    &:hover, &:active, &:focus {
      background: url('/assets/images/theme/arrow-left.png') no-repeat right -58px;
    }
  }
  .owl-next {
    background: url('/assets/images/theme/arrow-right.png') no-repeat left top;
    cursor: pointer;
    display: none;
    height: 55px;
    padding: 0 20px;
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-45%);
    width: 31px;
    z-index: 2;
    &:hover, &:active, &:focus {
      background: url('/assets/images/theme/arrow-right.png') no-repeat left -58px;
    }
  }
}

.blog #content {
  h1 {
    font-family: 'Josefin Slab';
    font-size: 35px;
    color: #4c4c4c;
  }

  h2 {
    font-family: 'Abel';
    font-size: 27px;
    color: #6b6b6b;
    font-weight: 300;
  }

  h3 {
    font-family: 'Abel';
    font-size: 22px;
    color: #1c778f;
    font-weight:300;
  }

  img {
    padding: 10px;
  }
}

.tabs {
  background: transparent;
  border: none;
}

.tabs-title {
  border-right: 1px solid transparent;
  @include breakpoint(small only) {
    margin-bottom: 1px;
  }
  a {
    background-color: #cdcccc;
    color: map-get($foundation-palette, primary);
    padding: .5rem .8rem;
    text-transform: uppercase;
    &:hover {
      background-color: #e5e3e3;
      color: #4fb1d5;
    }
  }
  &.is-active a {
    background-color: #e5e3e3;
    color: #4fb1d5;
  }
  @include breakpoint(small only) {
    float: none;
    a {
      line-height: 30px;
    }
  }
}

.tabs-content {
  background-color: #e5e3e3;
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  p {
    font-size: 10px;
    line-height: 22px;
  }
}

.gallery-body {
  background-color: $white;
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  margin-bottom: 20px;
}
