/*-----------------------------------------------------------------------------------------/
/------------------------------------------------------------------------------------------/
/  Views                                                                        
/------------------------------------------------------------------------------------------/
/-----------------------------------------------------------------------------------------*/
	/*-----------------------------------------------------------------------------------------/
	/  Overview Page                                                                     
	/-----------------------------------------------------------------------------------------*/
		#views-ui-list-views-form {height: 68px}
		#views-ui-list-views-form .form-item {margin-right: 5px;}
		#views-ui-list-views-form #edit-order-wrapper {clear: none;}
	/*-----------------------------------------------------------------------------------------/
	/  End Overview Page                                                                     
	/-----------------------------------------------------------------------------------------*/
	
	/*-----------------------------------------------------------------------------------------/
	/  Edit page                                                                 
	/-----------------------------------------------------------------------------------------*/
		.views-tabset .extra input {margin: 7px 0px;}
		
		#views-ui-add-item-form #edit-group-wrapper,
		#views-ui-add-item-form .views-radio-box,
		#views-ui-add-item-form .form-checkboxes {padding-left: 15px;}
		
		#views-ui-add-item-form .form-item label {color: #494949;}
		.page-content table .form-item .description, 
		#upload-attachments .description, 
		#views-ajax-pad .form-item .description {color: #999999 !important;}
		
		#views-ui-edit-view-form {margin: 10px 0px;}
	/*-----------------------------------------------------------------------------------------/
	/  End Edit page                                                                  
	/-----------------------------------------------------------------------------------------*/
	
	
/*-----------------------------------------------------------------------------------------/
/------------------------------------------------------------------------------------------/
/  Views                                                                        
/------------------------------------------------------------------------------------------/
/-----------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------/
/------------------------------------------------------------------------------------------/
/  Admin Toolbar (with icons)                                                                        
/------------------------------------------------------------------------------------------/
/-----------------------------------------------------------------------------------------*/

	div#admin-toolbar span.menu-description {}
	
	#admin-toolbar ul.menu li.leaf {}

	#admin-toolbar ul.drilldown-active-menu li {}

	#admin-toolbar ul.menu li a,
	#admin-toolbar ul.menu li a:visited {
		
	}
	
	#admin-toolbar span.icon {}

/*-----------------------------------------------------------------------------------------/
/------------------------------------------------------------------------------------------/
/  End Admin Toolbar (with icons)                                                                        
/------------------------------------------------------------------------------------------/
/-----------------------------------------------------------------------------------------*/