/* Drupal Icon */
	a.path-admin-settings-migrate span.icon,
	a#admin-link-admin-settings-migrate span.icon {
	  background: transparent url(images/icon.png) !important;
	}
/* End Drupal Icon */

.migrate-download {
	border:1px solid #CCCCCC;
	margin-top:10px;
	padding:10px;
}
.migrate-download li {
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
}
.migrate-download li a,
.migrate-download li visited {
	display: block;
	padding: 10px;
	padding-left: 40px;
	
}
.migrate-download li.db {
	background-image: url(images/icon-db.png);
}
.migrate-download li.files {
	background-image: url(images/icon-tree.png);
}
.migrate-download li.kickstart {
	background-image: url(images/icon-kickstart.png);
}