/*-----------------------------------------------------------------------------------------/

	ZillaForm 2.0
	Designed and Developed by Designzillas, LLC
	Last Updated: January 4th, 2011 by Michael Berg

	-- Themes Included
	   = pixel-white
	   = pixel-black
 	   = transparent
	   = big-round (legacy)

	-- To Install A Different Theme, Find & Replace:
	images/themes/pixel-white	with	images/themes/YOURTHEME

	-- To Design And Input A Site-Specific Theme, Open
	images/zillaform-v2.psd     and export folder-placed slices into     images/themes/custom

	-- Swatches
	Transparent FakeLabel and Input Text: #272727
	Pixel-White FakeLabel and Input Text: #272727
	Pixel-Black FakeLabel and Input Text: #e1e0e0

/-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* TEXT FIELDS                                                                             */
/*-----------------------------------------------------------------------------------------*/

.zillaForm-wrapper-text {
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(/img/site/zilla/norstone/text/text-left.png);
    display: inline-block !important;
    padding: 0px;
    margin: 0px;
    padding-left: 10px; /* same as padding right */
    height: 28px;
    font-size: 14px;
    line-height: 12px;
}

.zillaForm-wrapper-text .zillaForm-right-block {
    background-color: transparent;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url(/img/site/zilla/norstone/text/text-right.png);
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 10px; /* same as padding left */
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    height: 28px;
    font-size: 14px;
    line-height: 12px;
}

.zillaForm-wrapper-text .zillaForm-right-block input {
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    line-height: 13px;
    margin: 0px;
    padding: 0px 0px;
    position: relative;
    top: 3px;
    outline: none;
    z-index: 10;
    width: auto;
    color: #6B6B6B;
    font-family: open sans, "Myriad Pro", Arial, Tahoma, Sans-Serif;
    font-weight: lighter;
}

/* The Fake Labels */

.zillaForm-wrapper-text .fakelabel {
    font-family: open sans, "Myriad Pro", Arial, Tahoma, Sans-Serif;
    font-weight: lighter;
    color: #6B6B6B;
    font-size: 14px;
    line-height: 14px;
    height: 0px;
    position: relative;
    top: 6px;
    z-index: 5;
    float: left;
    width: 0px;
    white-space: nowrap;
}

/* The Required Div */

.zillaForm-wrapper-text .zillaForm-fake-required {
    /*float: right;*/
    height: 0;
    left: -7px;
    position: relative;
    top: 4px;
    z-index: 5;
}

.zillaForm-wrapper-text .zillaForm-fake-required div {
    background: transparent url(/img/site/zilla/norstone/misc/required-2.png) top left no-repeat;
    width: 8px;
    height: 7px;
    position: relative;
    z-index: 5;
}

/* Errors */

.zillaForm-wrapper-text.zillaForm-error {
    background-position: left bottom;
}

.zillaForm-wrapper-text.zillaForm-error .zillaForm-right-block {
    background-position: right bottom;
}

.zillaForm-wrapper-text.zillaForm-required {}

/*-----------------------------------------------------------------------------------------*/
/* END TEXT FIELDS                                                                         */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* TEXTAREAS                                                                               */
/*-----------------------------------------------------------------------------------------*/

.zillaForm-wrapper-textarea {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    border-collapse: 0px;
}

.zillaForm-wrapper-textarea td {
    padding: 0px !important;
    margin: 0px !important;
}

.zillaForm-wrapper-textarea .zf-top {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-top.png) top left no-repeat;
}

.zillaForm-wrapper-textarea .zf-top-right {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-top-right.png) top left no-repeat;
}

.zillaForm-wrapper-textarea .zf-center {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-center.png) top left repeat-y;
}

.zillaForm-wrapper-textarea .zf-center-right {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-center-right.png) top left repeat-y;
}

.zillaForm-wrapper-textarea .zf-bottom {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-bottom.png) top left no-repeat;
}

.zillaForm-wrapper-textarea .zf-bottom-right {
    background: transparent url(/img/site/zilla/norstone/textarea/textarea-bottom-right.png) top left no-repeat;
}

.zillaForm-wrapper-textarea .zf-top,
.zillaForm-wrapper-textarea .zf-top-right,
.zillaForm-wrapper-textarea .zf-bottom,
.zillaForm-wrapper-textarea .zf-bottom-right {
    height: 11px;
}

.zillaForm-wrapper-textarea .zf-top-right,
.zillaForm-wrapper-textarea .zf-center-right,
.zillaForm-wrapper-textarea .zf-bottom-right {
    width: 10px; /*same as padding-left */
}

.zillaForm-wrapper-textarea .zf-center textarea {
    color: #6B6B6B;
    padding-right: 0px;
    nowhitespace: afterproperty;
    font-size: 14px !important;
    line-height: 18px !important;
    margin-left: 4px;
    margin-top: -7px;
    /*same as width */ border: 0px;
    background: none;
    z-index: 50;
    position: relative;
	font-family:"Tahoma";
}

/* The Fake Labels */

.zillaForm-wrapper-textarea .fakelabel {
    height: 0;
    width:auto;
    border:0 none;
    outline:medium none;
	margin: -3px 0px 0px 0px;
	padding:0;
	position:relative;
	z-index:10;
    left: 9px;
    top:0px;
    background-color:transparent;
    color:#b4b4b4;
	font-family:"Tahoma";
	font-size:14px;
	line-height:13px;
	text-transform: capitalize;
}

/* The Required Thing */

.zillaForm-wrapper-textarea .zillaForm-fake-required {
    float: right;
    height: 0;
    left: 13px;
    position: relative;
    top: -15px;
    z-index: 5;
}

.zillaForm-wrapper-textarea .zillaForm-fake-required div {
    background-image: url(/img/site/zilla/norstone/form_textfield_required.png);
    width: 8px;
    height: 7px;
    position: relative;
    z-index: 5;
}

/*-----------------------------------------------------------------------------------------*/
/* END TEXTAREAS                                                                           */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* CHECKBOXES                                                                              */
/*-----------------------------------------------------------------------------------------*/

.zillaForm-wrapper-checkbox {
    display: inline;
    height: 17px;
    width: 16px;
}

.zillaForm-wrapper-checkbox input {
    display: none;
}

.zillaForm-wrapper-checkbox .zillaForm-checkbox-image {
    display: inline-block;
    background-image: url(/img/theme/checkboxes.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 17px;
    width: 17px;
    cursor: pointer;
    float: left;
    position: relative;
    /*top: 1px;*/
    margin: -2px 6px 0px 0px;
}

.zillaForm-wrapper-checkbox.checked  .zillaForm-checkbox-image {
    background-position: 0 -17px;
}

.zillaForm-wrapper-checkbox.disabled .zillaForm-checkbox-image {
    background-position: 0 -34px;
}

.zillaForm-wrapper-checkbox.checked.disabled .zillaForm-checkbox-image {
    background-position: bottom;
}

/*-----------------------------------------------------------------------------------------*/
/* END CHECKBOXES                                                                          */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* RADIO                                                                                   */
/*-----------------------------------------------------------------------------------------*/

.form-radios {
margin: 0px 0 15px 0;
}

.zillaForm-wrapper-radio {
    display: inline-block;
    *display:inline;
    zoom:1;
    height: 17px;
    width: 16px;
}

.zillaForm-wrapper-radio input {
    display: none;
}

.zillaForm-wrapper-radio .zillaForm-radio-image {
    display: inline-block;
    background-image: url(/img/theme/radios.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 15px;
    width: 14px;
    cursor: pointer;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

.zillaForm-wrapper-radio.checked .zillaForm-radio-image {
    background-position: 0 -15px;
}

.zillaForm-wrapper-radio.disabled .zillaForm-radio-image {
    background-position: 0 -28px;
}

.zillaForm-wrapper-radio.checked.disabled .zillaForm-radio-image {
    background-position: bottom;
}

/*-----------------------------------------------------------------------------------------*/
/* END RADIO                                                                               */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* SELECT BOX                                                                              */
/*-----------------------------------------------------------------------------------------*/

.zillaForm-wrapper-select {
    outline: none;
}

.zillaForm-wrapper-select select {
    display: none;
}

.zillaForm-wrapper-select .zillaForm-selectbox {
    visibility: hidden;
    height: 0px;
    padding-right: 0px;
    margin-right: -9px;
    margin-left: 0px;
    padding-left: 9px;
    position: relative;
    z-index: 151;
    font-family: "Tahoma";
    color: #6B6B6B;
    font-size: 12px;
}

.zillaForm-wrapper-select .zillaForm-selectbox.visible {
    visibility: visible;
    position: relative;
    z-index: 151;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 151;
    top: -1px;
    left: -9px;
    overflow-x: hidden;
    max-height: 300px;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul li {
    cursor: pointer;
    background-color: #FBFBFB;
    color: #6B6B6B;
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px 1px 0px 1px;
    list-style: none;
    margin: 0px;
    font-size: 14px;
    line-height: 20px !important;
    padding-left: 4px;
    text-align: left;
    position: relative;
    z-index: 151;
    font-family: open sans, "Myriad Pro", Arial, Tahoma, Sans-Serif;
    font-weight: lighter;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul li span {
    display: block;
    width: 100%;
    padding: 2px 5px;
    position: relative;
    z-index: 100;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul li.first {
    border-width: 1px;
    display: none;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul li.last {
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    border-bottom-width: 1px;
}

.zillaForm-wrapper-select .zillaForm-selectbox ul li.selected,
.zillaForm-wrapper-select .zillaForm-selectbox ul li.hover {
    background-color: #4FB2D5;
    color: white;
}

.zillaForm-select-left {
    display: block;
    background: transparent url(/img/site/zilla/norstone/select/select-left.png) left no-repeat;
    padding-left: 12px;
    cursor: pointer;
    z-index: 1;
    height: 28px;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
}

.zillaForm-select-right {
    background: transparent url(/img/site/zilla/norstone/select/select-right.png) right no-repeat;
    height: 28px;
    background-color: transparent;
    background-position: top right;
    background-repeat: no-repeat;
}

.zillaForm-select-value {
    color: #242323;
    /*padding-right: 45px;*/
    position: relative;
    top: 8px;
    font-family: open sans, "Myriad Pro", Arial, Tahoma, Sans-Serif;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: lighter;
    line-height: 12px;
    margin-left: -5px;
}

/*-----------------------------------------------------------------------------------------*/
/* END SELECT BOX                                                                          */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* BUTTONS                                                                                 */
/*-----------------------------------------------------------------------------------------*/

#content_bottom #edit-title-wrapper,
#content_bottom .grippie,
#content_bottom .form-submit[value="Preview"] {
    display: none;
}

#content_bottom .form-submit[value="Submit"] {
    border: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    line-height: 0px;
    text-indent: -999px;
    background: transparent url(/img/site/zilla/norstone/misc/submit.png) top left no-repeat;
    width: 80px;
    height: 30px;
    float: right;
    display: block;
    top: 5px;
    margin: 0px 55px 40px 0px;
}

#content_bottom .form-submit[value="Save"] {
    border: 0px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    line-height: 0px;
    text-indent: -999px;
    background: transparent url(/img/site/zilla/norstone/misc/submit.png) top left no-repeat;
    width: 80px;
    height: 30px;
    float: right;
    display: block;
    top: 15px;
    margin: 0px 55px 40px 0px;
}

/*-----------------------------------------------------------------------------------------*/
/* END BUTTONS                                                                             */
/*-----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/* CAPTCHA                                                                                 */
/*-----------------------------------------------------------------------------------------*/

#content_bottom fieldset {
    width: 552px;
    padding-right: 2px;
    margin: 0px 2px 0px 0px;
}

#content_bottom #edit-captcha-response-wrapper {
    width: 564px;
}

#content_bottom fieldset .description {
    width: 560px;
    margin-bottom: 8px;
}

#edit-captcha-response-wrapper .zillaForm-right-block {
    width: 530px;
}

.captcha #edit-captcha-response-wrapper {
	margin-bottom: 2px;
}

.captcha #edit-captcha-response-wrapper #edit-captcha-response {
    width: 560px;
}

.captcha #edit-captcha-response-wrapper .description {
	display: none;
}

/*-----------------------------------------------------------------------------------------*/
/* END CAPTCHA                                                                             */
/*-----------------------------------------------------------------------------------------*/
