<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <title>{% if page.title %}{{ page.title }}{% else if site.title %}{{ site.title }}{% endif %}</title>
  <script type="text/javascript">
    var _sf_startpt = (new Date()).getTime()
  </script>

  <script type="text/javascript">
    var isIE = false;
  </script>

  <!--[if IE]>
    <script type="text/javascript">
      isIE = true;
    </script>
  <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/img/theme/favicon.ico" type="image/x-icon" />
  <link href="http://fonts.googleapis.com/css?family=Abel:regular|Josefin Slab:regular|Open Sans:300,regular|Open Sans Condensed:700&subset=latin" rel="stylesheet" type="text/css" />
  <meta name="description" content="Norstone, supplier of the best Natural Stone, stone wall cladding, stone veneer rock panels for water features, feature walls and stacked stone walls" />
  <meta name="keywords" content="natural stone,stone panel,granite,rock wall,stacked stone,stone veneer,water feature,paving,stacked stone wall,paving stone,norstone,monarostone,stacked stone veneer,ledger panel" />
  <meta name="dcterms.date" content="2011-03-07T00:00:00Z" />
  <meta name="revisit-after" content="1 day" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/zillaForm.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/jquery.fancybox-1.3.4.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/views.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/ui.all.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/garden.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/quicktabs.css" />
  <!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/default/themes/garden/ie.css?p" />
<![endif]-->
  <script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js" integrity="sha256-nxdiQ4FdTm28eUNNQIJz5JodTMCF5/l32g5LwfUwZUo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/jquery.zillaForm.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-1.3.4.js"></script>
  <script type="text/javascript" src="/js/ui.core.min.js"></script>
  <script type="text/javascript" src="/js/ui.tabs.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cycle.all.min.js"></script>
  <script type="text/javascript" src="/js/jquery.scrollTo-1.4.2-min.js"></script>
  <script type="text/javascript" src="/js/jquery.localscroll-1.2.7-min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
<!--
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-5328347-1', 'auto');
    ga('send', 'pageview');
  </script>
-->
</head>
