    <div id="header">
      <div class="background">
        <div class="size">
          <div id="header_left">
            <a href="/" title="Home" rel="home" id="logo">
              <img src="/assets/images/unsorted/norstone_natural_stacked_stone_logo(8).png" alt="Home" />
            </a>
          </div>
          <div id="header_right">
            <div class="region region-header-right">
              <div id="block-block-21" class="block block-block first region-odd odd region-count-1 count-1 ">
                <div class="content">
                  <div class="social-media">
                    <ul class="social-media-list">
                      <li>
                        <a href="http://pinterest.com/source/norstoneusa.com/"><img width="16" height="16" alt="" src="/assets/images/unsorted/pinterest2.png" /></a>
                      </li>
                      <li>
                        <a href="http://www.houzz.com/pro/norstoneusa/norstoneusa"><img width="16" height="16" alt="Remodeling and Home Design" src="/assets/images/unsorted/houzzbadge20_20_2%20copy.png" /></a>
                      </li>
                      <li>
                        <a href="http://www.facebook.com/NorstoneUSA"><img width="16" height="16" src="/assets/images/theme/social-icons-facebook.png" alt="Facebook" /></a>
                      </li>
                      <li>
                        <a href="http://twitter.com/stackedstone"><img width="16" height="16" src="/assets/images/theme/social-icons-twitter.png" alt="Twitter" /></a>
                      </li>
                      <li>
                        <a href="/blog"><img width="16" height="16" src="/assets/images/unsorted/Blog.png" alt="Flickr" /></a>
                      </li>
                    </ul>
                    <p class="browse-products"><a href="/products"><span style="font-size: 12px;font-weight:lighter; font-family:helvetica">Browse Product Series</span></a></p>
                    <p class="how-to-buy">
                      <a href="/how-to-buy"><img width="237" height="18" src="/assets/images/unsorted/Learn-How-To-Buy-New-Banner2(1)6.png" alt="" /></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
