<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if page.title %}{{ page.title }}{% else if site.title %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="/assets/images/theme/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="Norstone - Blog" href="/feed.xml" />
  <link href="http://fonts.googleapis.com/css?family=Abel:regular|Josefin Slab:regular|Open Sans:300,regular|Open Sans Condensed:700&subset=latin" rel="stylesheet" type="text/css" />
  <meta name="description" content="Norstone, supplier of the best Natural Stone, stone wall cladding, stone veneer rock panels for water features, feature walls and stacked stone walls" />
  <meta name="keywords" content="natural stone,stone panel,granite,rock wall,stacked stone,stone veneer,water feature,paving,stacked stone wall,paving stone,norstone,monarostone,stacked stone veneer,ledger panel" />
  <meta name="dcterms.date" content="2011-03-07T00:00:00Z" />
  <meta name="revisit-after" content="1 day" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/jquery.fancybox-1.3.4.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/foundation.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/css/norstone-new.css" />
</head>
