    <div id="navbar">
      <div class="background">
        <div class="size">
          <ul class="links">
            <li class="menu-238 active-trail first active"><a href="/" title="Norstone USA" class="active">HOME</a></li>
            <li class="menu-237"><a href="/products" title="">PRODUCTS</a></li>
            <li class="menu-3507"><a href="/gallery" title="">GALLERY</a></li>
            <li class="menu-3341"><a href="/how-to-install-stacked-stone" title="installation guide">INSTALLATION GUIDE</a></li>
            <li class="menu-3388"><a href="/faq" title="Frequently Asked Questions">FAQ</a></li>
            <li class="menu-3342"><a href="/client-testimonials" title="client testimonials ">CLIENT TESTIMONIALS</a></li>
            <li class="menu-309 last"><a href="/contact-us" title="contact us">CONTACT US</a></li>
          </ul>
        </div>
      </div>
    </div>
