<div class="menu-centered">
  <ul class="vertical medium-horizontal menu icon-top">
    <li><a href="/products/stacked-stone-cladding" style="background-image: url('/assets/images/theme/qtproducts-menu-rock-panels.png')"></a></li>
    <li><a href="/products/thin-stone-veneer-panels" style="background-image: url('/assets/images/theme/qtproducts-menu-xl-rock-panels.png')"></a></li>
    <li><a href="/products/modern-wall-tile" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-tiles.png')"></a></li>
    <li><a href="/products/basalt-stone-panels" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-3d.png')"></a></li>
  </ul>
</div>
