<div class="navigation-large menu-centered">
  <ul class="vertical medium-horizontal menu icon-top">
    <li>
      <a href="/products/stacked-stone-cladding/">
        <img src="/assets/images/theme/menu-large-rock.png" />
        <p>Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/thin-stone-veneer-panels/">
        <img src="/assets/images/theme/menu-large-xl-rock.png" />
        <p>XL Rock Panels</p>
      </a>
    </li>
    <li>
      <a href="/products/modern-wall-tile/">
        <img src="/assets/images/theme/menu-large-basalt.png" />
        <p>Basalt Tiles</p>
      </a>
    </li>
    <li>
      <a href="/products/basalt-stone-panels/">
        <img src="/assets/images/theme/menu-large-basalt-3d.png">
        <p>Basalt 3D</p>
      </a>
    </li>
  </ul>
</div>
