<div id="block-qtproducts-qtproducts_menu" class="block block-qtproducts first region-odd even region-count-1 count-4 ">
  <div class="content">
    <div id="products-menu">
      <div class="item-list">
        <ul>
          <li style="background-position: 0 0" class="first"><a href="/products/stacked-stone-cladding" class="active">Rock Panels</a></li>
          <li style="background-position: 0 -21px"><a href="/products/thin-stone-veneer-panels">XL Rock Panels</a></li>
          <li style="background-position: 0 -42px"><a href="/products/modern-wall-tile">Basalt Tiles</a></li>
          <li style="background-position: 0 -110px" class="last"><a href="/products/basalt-stone-panels">Basalt 3D</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
