<h1 class="text-center">Get Inspired. Select a gallery type to begin.</h1>
<hr />
<div id="gallery-navigation" class="menu-centered">
  {% assign current = page.url | downcase | split: '/' %}
  <ul class="vertical medium-horizontal menu icon-top">
    <li><a {% if current[2] == "rock-panels" %} class="active"{% endif %} href="/gallery/rock-panels/" style="background-image: url('/assets/images/theme/qtproducts-menu-rock-panels.png')">Rock Panels</a></li>
    <li><a {% if current[2] == "xl-rock-panels" %} class="active"{% endif %} href="/gallery/xl-rock-panels/" style="background-image: url('/assets/images/theme/qtproducts-menu-xl-rock-panels.png')">XL Rock Panels</a></li>
    <li><a {% if current[2] == "basalt-il-tiles" %} class="active"{% endif %} href="/gallery/basalt-il-tiles/" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-tiles.png')">Basalt Tiles</a></li>
    <li><a {% if current[2] == "basalt-3d" %} class="active"{% endif %} href="/gallery/basalt-3d/" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-3d.png')">Basalt 3D</a></li>
    <li>|</li>
    <li><a {% if current[2] == "application" %} class="active"{% endif %} href="/gallery/application/" style="background-image: url('/assets/images/theme/qtproducts-menu-applications.png')">Applications</a></li>
    <li><a {% if current[2] == "project" %} class="active"{% endif %} href="/gallery/project/" style="background-image: url('/assets/images/theme/qtproducts-menu-projects.png')">Projects</a></li>
</div>
