<div class="content">
  <div id="qtproducts-menu">
    <a href="/products/stacked-stone-cladding" style="background-image: url('/assets/images/theme/qtproducts-menu-rock-panels.png')">Rock Panels</a>
    <a href="/products/thin-stone-veneer-panels" style="background-image: url('/assets/images/theme/qtproducts-menu-xl-rock-panels.png')">XL Rock Panels</a>
    <a href="/products/modern-wall-tile" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-tiles.png')">Basalt Tiles</a>
    <a href="/products/basalt-stone-panels" style="background-image: url('/assets/images/theme/qtproducts-menu-basalt-3d.png')">Basalt 3D</a>
  </div>
</div>
