<div class="region region-sidebar-first column sidebar">
  <div class="section">
    <div id="block-block-25" class="block block-block first region-odd even region-count-1 count-6 norstone-product-sidebar rock">
      <div class="content">
        <h2>Select Your <span class="blue">Rock Panel</span>:</h2>
        {% for product in page.products %}
        <h4>{{ product.title }}</h4>
        {% assign productlink = product.link | downcase | split: '/' %}
        <p><a class="button{% if productlink[3] == current[3] %} active{% endif %}" href="{{ product.link }}" style="background-image: url({{ product.image }})">.</a></p>
        {% endfor %}
        <p><a href="{{ page.gallery.link }}">{{ page.gallery.text }}<img width="12" height="9" alt="arrows-img" class="arrow" src="/assets/images/theme/arrows-img.png" /></a></p>
      </div>
    </div>
  </div>
</div>
