---
layout: default
---

<div class="row columns">
  <img style="margin-top:10px" src="/assets/images/unsorted/blog-banner.jpg" alt="Blog Header" title="blog-banner.jpg" />
  <hr />
</div>
<div class="row">
  <div id="content" class="large-8 columns">
    {{ content }}
  </div>
  <div class="large-4 columns">
    <h2 class="large color-secondary">How to Use This Blog</h2>
    <p>Our blog is a forum dedicated to discussing design themes, sources of inspiration, natural stone products, and how the world around us influences our creative interpretation and buying preferences. In this blog you'll find our articles sorted according to 3 main topics:</p>
    <p><img src="/assets/images/unsorted/BlogCategories(2).png" width="220" height="152" alt="Blog Categories" title="BlogCategories(2).png"></p>
    <h2 class="large color-secondary">Share this Blog</h2>
    <div class="social-share-container">
      <a target="_blank" class="social-share-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&amp;t=Norstone+USA">Facebook</a>
      <a target="_blank" class="social-share-twitter" href="https://twitter.com/intent/tweet?text=Norstone+USA&amp;url={{ site.url }}{{ page.url }}">Twitter</a>
    </div>
  </div>
</div>
