---
layout: default
---

<div class="row columns">
  <a href="/blog/"><img style="margin-top:10px" src="/assets/images/unsorted/blog-banner.jpg" alt="Blog Header" title="blog-banner.jpg" /></a>
  <hr />
</div>
<div class="row">
  <div id="content" class="large-9 columns">
    {{ content }}
  </div>
  <div class="large-3 columns">
    <h2 class="large color-secondary"><a href="/blog/"; style="color: #1c778f">View All Titles</a></h2>
    <p>Norstone's New Dimensions in Natural Stone <a href="/blog/">blog</a> aims to discuss design themes, sources of inspiration, and how the world around us influences our creative interpretation and buying preferences.</p>
    <h2 class="large color-secondary">Share this Article</h2>
    <div class="social-share-container">
      <a target="_blank" class="social-share-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&amp;t=Norstone+USA">Facebook</a>
      <a target="_blank" class="social-share-twitter" href="https://twitter.com/intent/tweet?text=Norstone+USA&amp;url={{ site.url }}{{ page.url }}">Twitter</a>
    </div>
  </div>
</div>
