---
layout: default
title: Norstone Gallery
---

{% assign collection_or_color = page.path | downcase | split: '/' %}
{% assign collection_or_color = collection_or_color[0] %}
<span itemscope itemtype="http://schema.org/Product"><div class="product-header">
  <div class="row large-collapse">
    <div class="large-8 columns">
      <a href="{{ page.header.link }}"><img itemprop="image" class="orbit-image" alt="{{ page.header.subtitle }}" title="{{ page.header.subtitle }}" src="{{ site.url }}{{ page.header.image }}" /></a>
    </div>
    <div class="large-4 columns">
      <h1 itemprop="name" class="xx-large color-secondary text-center large-text-right" style="margin-bottom: 5px">{{ page.header.title }}</h1>
      <h2 class="small color-primary text-center large-text-right">{{ page.header.subtitle }}</h2>
      <p class="text-justify">{{ page.header.description }}</p>
      {% if collection_or_color == '_products' %}
      <a class="button--main float-right" href="#select-color">Select Color Below</a>
      {% else %}
      <a class="button--main float-right" href="/contact-us">Submit an Inquiry</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="row columns show-for-large">
  {% include navigation-products-small.html %}
</div>
<div itemprop="brand" itemscope itemtype="http://schema.org/Brand" itemref="_logo6" class="row product-body">
  <div class="large-8 columns">
    {{ content }}
  </div>
  <div id="select-color" class="large-4 columns">
    {% include products-sidebar.html %}
  </div>
</div>
