<!doctype html>
<html lang="en" dir="ltr">

{% include head.html %}

<body class="no-js{% if page.classes %} {{ page.classes }}{% endif %}">
  <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
    <ul class="vertical menu">
      {% include navigation.html %}
    </ul>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    {% include header.html %}
    <div id="norstone-menu" class="menu-centered show-for-large">
      <ul class="vertical large-horizontal menu">
        {% include navigation.html %}
      </ul>
    </div>
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>
