---
layout: default
title: Norstone Gallery
---

<div class="row columns show-for-large">
{% include navigation-gallery-small.html %}
</div>
<div class="row">
  <div class="large-9 columns">
    <div id="gallery-type" class="float-right">
      <p style="font-size: 12px; margin-bottom: 0">
      {% assign gallery_type = page.path | downcase | split: '/' %}
      {% assign gallery_type = gallery_type[1] %}
      {% if gallery_type == 'rock-panels' %}
      <img style="margin-bottom: -8px" alt="Rock Panels" title="menu-small-rock.png" src="/assets/images/theme/menu-small-rock.png" /> Rock Panels
      {% elsif gallery_type == 'xlx-rock-panels' %}
      <img style="margin-bottom: -8px" alt="XL Rock Panels" title="menu-small-xl-rock.png" src="/assets/images/theme/menu-small-xl-rock.png" /> XL Rock Panels
      {% elsif gallery_type == 'basalt' %}
      <img style="margin-bottom: -8px" alt="Basalt Tiles" title="menu-small-basalt.png" src="/assets/images/theme/menu-small-basalt.png" /> Basalt Tiles
      {% elsif gallery_type == 'basalt-3d' %}
      <img style="margin-bottom: -8px" alt="Basalt 3D" title="menu-small-basalt-3d.png" src="/assets/images/theme/menu-small-basalt-3d.png" /> Basalt 3D
      {% elsif gallery_type == 'application' %}
      <img style="margin-bottom: -8px" alt="Applications" title="menu-small-applications.png" src="/assets/images/theme/menu-small-applications.png" /> Applications
      {% elsif gallery_type == 'project' %}
      <img style="margin-bottom: -8px" alt="Projects" title="menu-small-projects.png" src="/assets/images/theme/menu-small-projects.png" /> Projects
      {% endif %}
      </p>
    </div>
    {% include gallery-slideshow.html %}
  </div>
  <div class="large-3 columns">
    {% include gallery-sidebar.html %}
  </div>
</div>
<div class="gallery-body">
  <div class="row columns">
    {{ content }}
  </div>
</div>
<div class="row columns">
  <h2 class="x-large color-primary">Other Galleries You Might Like</h2>
</div>
<div class="other-galleries row collapse medium-up-2 large-up-4">
  {% for other in page.other_galleries %}
  {% assign item = site.data.gallery[other] %}
  {% include card.html %}
  {% endfor %}
</div>
